---
title: Conference &#9671; Abril Pro Ruby 2014 &#9671; April 24th to 27th @ Porto de Galinhas
---

<header id="content" class="of-section">
  <div class="content-background">
    <div class="container">
      <h1><span class="icon"></span>Conference</h1>
      <nav class="secondary">
        <ul>
          <li>
            <a data-scroll data-url="true" href="#workshops">
              <span class="icon icon-workshops"></span>
              <span class="day">4<span>/</span>24</span><span class="subtitle">Workshops</span>
            </a>
          </li>
          <li>
            <a data-scroll data-url="true" href="#activities">
              <span class="icon icon-activities"></span>
              <span class="day">4<span>/</span>25</span><span class="subtitle">Activities</span>
            </a>
          </li>
          <li>
            <a data-scroll data-url="true" href="#talks">
              <span class="icon icon-talks"></span>
              <span class="day">4<span>/</span>26</span><span class="subtitle">Talks</span>
            </a>
          </li>
          <li>
            <a data-scroll data-url="true" href="#activities">
              <span class="icon icon-activities"></span>
              <span class="day">4<span>/</span>27</span><span class="subtitle">Activities</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<section id="talks" class="talks">
  <div class="container">
    <h2>Talks</h2>
    <div class="date-venue-tickets">
      <h3 class="date"><span class="icon icon-calendar"></span>4/26 (Sat.)</h3>
      <h3 class="venue"><span class="icon icon-location"></span>Hotel Armação</h3>
      <p class="translation" data-toggle="tooltip" data-placement="bottom" title="All talks will have simultaneous translation in both languages."><span class="icon icon-translation"></span>Simultaneous Translation</p>
      <a href="http://www.eventick.com.br/abrilproruby-int" target="_blank"><span class="icon icon-ticket"></span>Buy your ticket</a>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">

        <div id="nell" class="speaker nell">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6 col-md-push-6">
                <p class="time tba" data-toggle="tooltip" data-placement="left" title="Schedule to be announced soon.">T.B.A.</p>
                <%= image_tag 'conference/speaker-nell.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
                <div class="desc">
                  <h3 class="name">Nell Shamrell</h3>
                  <small class="title">Senior Developer at PhishMe</small>
                  <div class="further">
                    <a class="bio" href="#" data-toggle="popover" data-html="true" data-placement="bottom" data-content="Nell Shamrell works as a Software Development Engineer for PhishMe. She also sits on the advisory board for the University of Washington Certificate in Ruby Programming. She specializes in Ruby, Rails, Regular Expressions, and Test Driven Development. Prior to entering the world of software development, she studied and worked in the field of Theatre. The world of Theatre prepared her well for the dynamic world of creating software applications. In both, she strives to create a cohesive and extraordinary experience. In her free time she enjoys practicing the martial art Naginata.<span>Seattle, USA</span>"><span class="icon icon-info"></span>Bio</a>
                    <a class="twitter" href="http://www.twitter.com/nellshamrell" target="_blank"><span class="icon icon-twitter"></span>Twitter</a>
                    <a class="github" href="http://www.github.com/nellshamrell" target="_blank"><span class="icon icon-github"></span>GitHub</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="talk">
                <h3>Crafting and Optimizing Algorithms in Ruby</h3>
                <p>Every day, knowingly or not, we create and follow algorithms. From deciding what route to take home from the office to following a recipe as we cook or bake, life is made of patterns. These patterns take on special meeting when they need to be interpreted by a computer. No matter who interprets <span class="ellipsis">…</span><span class="content-remainder sr-only">algorithms—whether human or machine—they must be efficient in both speed and resource consumption. Come and learn the principles and best practices of crafting, evaluating, and refining algorithms in Ruby. We will work our way through a real world example of creating the core algorithm of a fantasy combat game. Step by step, we will translate a complex system of rules into a robust and efficient Ruby algorithm. You will walk away with a better understanding of how to create optimal algorithms and refactor existing algorithms in your own Ruby code.</span></p>
                <a href="#" class="more" data-collapsed-text="Less">More</a>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

        <div id="rafael" class="speaker rafael right">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-push-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6">
                <p class="time tba" data-toggle="tooltip" data-placement="right" title="Schedule to be announced soon.">T.B.A.</p>
                <%= image_tag 'conference/speaker-rafael.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="desc">
                  <h3 class="name">Rafael França</h3>
                  <small class="title">Software Developer at Plataformatec</small>
                  <div class="further">
                    <a class="bio" href="#" data-toggle="popover" data-html="true" data-placement="bottom" data-content="Member of the Rails Core Team. Spend the days solving problems at Plataformatec and the nights contributing to several OSS projects.<span>São Paulo, Brazil</span>"><span class="icon icon-info"></span>Bio</a>
                    <a class="twitter" href="http://www.twitter.com/rafaelfranca" target="_blank"><span class="icon icon-twitter"></span>Twitter</a>
                    <a class="github" href="http://www.github.com/rafaelfranca" target="_blank"><span class="icon icon-github"></span>GitHub</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
              <div class="talk">
                <h3>Rails: The Hidden Parts</h3>
                <p>The Rails framework contains a set of useful features for every Web application, but not every feature is well implemented and bug-free.</p>
                <p>During this talk we will walk through two very old Rails features—Active Record’s scopes and HTML sanitisation—and explain how they work <span class="ellipsis">…</span><span class="content-remainder sr-only">under the hood. Also, It will be presented the current issues we’ve been facing and how they can be improved.</span></p>
                <a href="#" class="more" data-collapsed-text="Less">More</a>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

        <div id="arthur" class="speaker arthur">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6 col-md-push-6">
                <p class="time tba" data-toggle="tooltip" data-placement="left" title="Schedule will be announced soon.">T.B.A.</p>
                <%= image_tag 'conference/speaker-arthur.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
                <div class="desc">
                  <h3 class="name">Arthur Neves</h3>
                  <small class="title">Software Developer at Shopify</small>
                  <div class="further">
                    <a class="bio" href="#" data-toggle="popover" data-html="true" data-placement="bottom" data-content="Arthur Neves is a Brazilian software developer, who likes to spend his time solving large scale system problems. In the past few years he worked in a few different projects using different technologies, most of them for start-ups. He currently works on the Performance and Site Reliability Team at Shopify. During his free time, he likes to write code, mostly for open source projects. Arthur is also a core maintainer of Mongoid, a popular MongoDB ODM for Ruby, and he is responsible for many open source contributions.<span>Ottawa, Canada</span>"><span class="icon icon-info"></span>Bio</a>
                    <a class="twitter" href="http://www.twitter.com/arthurnn" target="_blank"><span class="icon icon-twitter"></span>Twitter</a>
                    <a class="github" href="http://www.github.com/arthurnn" target="_blank"><span class="icon icon-github"></span>GitHub</a></div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="talk">
                <h3>Sharding Shopify</h3>
                <p>Database was always one of our first bottlenecks when trying to scale Shopify in multiple servers. Nowadays, NoSQL databases are getting pretty popular, specially because they scale out of the box. At Shopify, we decide to not use a NoSQL database as our canonical source of data and, in order to scale that properly, we had to create custom solutions <span class="ellipsis">…</span><span class="content-remainder sr-only">to shard its data. I will be talking about how we did it using Ruby and Rails, and when you should shard a big database.</span></p>
                <a href="#" class="more" data-collapsed-text="Less">More</a>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

        <div id="tj" class="speaker tj right">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-push-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6">
                <p class="time tba" data-toggle="tooltip" data-placement="right" title="Schedule will be announced soon.">T.B.A.</p>
                <%= image_tag 'conference/speaker-tj.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="desc">
                  <h3 class="name">T.J. Schuck</h3>
                  <small class="title">Developer at Harvest</small>
                  <div class="further">
                    <a class="bio" href="#" data-toggle="popover" data-html="true" data-placement="bottom" data-content="I'm a developer at Harvest, makers of the world's best time tracking software, where I write a combination of Ruby and angry rants. I'm also a maintainer of bcrypt-ruby, the best way to keep your users' passwords secure, and of rake-compiler-dev-box, the best way to successfully cross-compile your native gems without pulling your hair out.<span>New York, USA</span>"><span class="icon icon-info"></span>Bio</a>
                    <a class="twitter" href="http://www.twitter.com/tjschuck" target="_blank"><span class="icon icon-twitter"></span>Twitter</a>
                    <a class="github" href="http://www.github.com/tjschuck" target="_blank"><span class="icon icon-github"></span>GitHub</a></div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
              <div class="talk">
                <h3>80,000 Plaintext Passwords: An Open Source Love Story in Three Acts</h3>
                <p>Considering getting a new dog? Here are some name suggestions: fluffmuffin, peppercorn, monkeybreath.</p>
                <p>Just kidding, those aren't dog name suggestions—those are a few of our users' plaintext passwords. <span class="ellipsis">…</span></p>
                <p><span class="content-remainder sr-only">Don't like any of those? Don't worry—I have 80,000 more, and it only took me 87 seconds to gather them from our customer database in a white-hat attack.</span></p>
                <p><span class="content-remainder sr-only">In Act I, we'll cover the history of secure password storage, examine the hack, and mitigate the threat. Act II will address the difficulties of working on libraries with complicated dependencies (like bcrypt-ruby, of which I'm now a maintainer). In Act III, we'll celebrate the power of global collaboration via OSS.</span></p>
                <p><span class="content-remainder sr-only">[Scene.]</span></p>
                <a href="#" class="more" data-collapsed-text="Less">More</a>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

        <div id="guilherme" class="speaker guilherme">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6 col-md-push-6">
                <p class="time tba" data-toggle="tooltip" data-placement="left" title="Schedule will be announced soon.">T.B.A.</p>
                <%= image_tag 'conference/speaker-guilherme.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
                <div class="desc">
                  <h3 class="name">Guilherme Garnier</h3>
                  <small class="title">Software Developer at Globo.com</small>
                  <div class="further">
                    <a class="bio" href="#" data-toggle="popover" data-html="true" data-placement="bottom" data-content="Software developer with more than 10 years of experience in languages such as C++, Java, PHP and Perl. Currently, he works with Ruby on Rails at Globo.com. He also writes on his blog at <a href='http://blog.guilhermegarnier.com' target='_blank'>blog.guilhermegarnier.com</a>.<span>Rio de Janeiro, Brazil</span>"><span class="icon icon-info"></span>Bio</a>
                    <a class="twitter" href="http://www.twitter.com/guilhermgarnier" target="_blank"><span class="icon icon-twitter"></span>Twitter</a>
                    <a class="github" href="http://www.github.com/ggarnier" target="_blank"><span class="icon icon-github"></span>GitHub</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="talk">
                <h3>Distributed Architecture: Scaling Projects and Teams</h3>
                <p>A few years ago, a lot of people said that Rails did not scale. Nowadays, there are a lot of big applications in Rails that show that this is not true. But when your project grows, to which point is it worth to keep everything in a single application? <span class="ellipsis">…</span><span class="content-remainder sr-only"> In this presentation, I will show details of a service distributed architecture, highlighting the advantages and drawbacks of this approach. The case of the Globo.tv (<a href="http://globotv.globo.com" target="_blank">http://globotv.globo.com/</a>) will be presented as an example. In this project, we use this architecture to allow different teams to work together.</span></p>
                <a href="#" class="more" data-collapsed-text="Less">More</a>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

        <div id="scott" class="speaker scott right">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-push-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6">
                <p class="time tba" data-toggle="tooltip" data-placement="right" title="Schedule will be announced soon.">T.B.A.</p>
                <%= image_tag 'conference/speaker-scott.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="desc">
                  <h3 class="name">Scott Motte</h3>
                  <small class="title">Developer Evangelist at SendGrid</small>
                  <div class="further">
                    <a class="bio" href="#" data-toggle="popover" data-html="true" data-placement="bottom" data-content="I like to code in Ruby and Node.js. I'm exploring Go. Travel and code excite me.<span>Los Angeles, USA</span>"><span class="icon icon-info"></span>Bio</a>
                    <a class="twitter" href="http://www.twitter.com/scottmotte" target="_blank"><span class="icon icon-twitter"></span>Twitter</a>
                    <a class="github" href="http://www.github.com/scottmotte" target="_blank"><span class="icon icon-github"></span>GitHub</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
              <div class="talk">
                <h3>Deprecating the Password: An Alternative Approach to Authentication using Email Only</h3>
                <p>We should be evaluating whether the traditional username and password is the best form of authentication. I think there is a better way. I've open sourced something called Handshake.js that implements an email only authentication mechanism. <span class="ellipsis">…</span></p>
                <p><span class="content-remainder sr-only">Come see a talk on the strengths and weaknesses of this new approach as well as a live coded demo on implementing this into your next Ruby application.</span></p>
                <a href="#" class="more" data-collapsed-text="Less">More</a>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

        <div id="joao" class="speaker joao">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6 col-md-push-6">
                <p class="time tba" data-toggle="tooltip" data-placement="left" title="Schedule will be announced soon.">T.B.A.</p>
                <%= image_tag 'conference/speaker-joao.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
                <div class="desc">
                  <h3 class="name">João M. D. Moura</h3>
                  <small class="title">CTO at Palpiteros</small>
                  <div class="further">
                    <a class="bio" href="#" data-toggle="popover" data-html="true" data-placement="bottom" data-content="I'm a CTO and lead engineer, currently living in São Paulo, a technology enthusiast that loves open source, a blog author in RubySource, and also a speaker of some international and national conferences like Ruby Conf Brazil, TakeOff in France, Rails Israel, Italian Ruby Day, RuPy Brazil, DevCon in Israel and others.<span>São Paulo, Brazil</span>"><span class="icon icon-info"></span>Bio</a>
                    <a class="twitter" href="http://www.twitter.com/joaomdmoura" target="_blank"><span class="icon icon-twitter"></span>Twitter</a>
                    <a class="github" href="http://www.github.com/joaomdmoura" target="_blank"><span class="icon icon-github"></span>GitHub</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="talk">
                <h3>Developing Products, not Apps</h3>
                <p>The Ruby world has been protagonist of a new era of entrepreneurship in the technology market. There are many techniques, new specifications and conventions that are designed to facilitate and enhance the development of applications, especially on the web. <span class="ellipsis">…</span></p>
                <p><span class="content-remainder sr-only"> But this new context completely changes the way we were used to develop. Currently, the role of the Ruby developer goes beyond programming, and progresses within the product creation process, innovation, and effective participation in decisions that may determine the success or failure of an application. In this talk, I will demonstrate how you can expand the mindset from application development to product development.</span></p>
                <a href="#" class="more" data-collapsed-text="Less">More</a>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

        <div id="pablo" class="speaker pablo right">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-push-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6">
                <p class="time tba" data-toggle="tooltip" data-placement="right" title="Schedule will be announced soon.">T.B.A.</p>
                <%= image_tag 'conference/speaker-pablo.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="desc">
                  <h3 class="name">Pablo Astigarraga</h3>
                  <small class="title">Software Developer at tarmac.io</small>
                  <div class="further">
                    <a class="bio" href="#" data-toggle="popover" data-html="true" data-placement="bottom" data-content="<p>Pablo Astigarraga (better known as PoTe) comes from a Python background writing Asterisk-based VoIP systems, has several years of experience doing Rails/Ruby and has been known to work with Go when the job permits it, he loves contributing to open source projects, blogging about tech and is one of the authors of the @surculusfructum podcast.</p><p>Passionate about minimalistic software, Unix philosophy, doing things right, having fun with cool people and using spaces instead of tabs, PoTe copes with a somewhat unhealthy relationship with mustaches and is always willing to discuss the evils of premature optimization over a beer.<span>Montevideo, Uruguay</span></p>"><span class="icon icon-info"></span>Bio</a>
                    <a class="twitter" href="http://www.twitter.com/poteland" target="_blank"><span class="icon icon-twitter"></span>Twitter</a>
                    <a class="github" href="http://www.github.com/pote" target="_blank"><span class="icon icon-github"></span>GitHub</a></div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
              <div class="talk">
                <h3>The Dilemma of Simplicity</h3>
                <p>Over the years we've learned to pay attention to the importance of a number of highly desirable qualities in software: readability, maintainability, adaptation to change. We've accepted these values as good and actively pursue them yet we consistently ignore what is probably the best method of achieving <span class="ellipsis">…</span><span class="content-remainder sr-only">these qualities, it's staring us right in the face now.</span></p>
                <p><span class="content-remainder sr-only">Slowly but steadily the philosophy of embracing simplicity in software design by carefully calculating and minimizing unnecessary complexity is gaining traction in our community, and for a good reason: it organically pushes us to the best software practices we all know and love, it both embraces all the core principles the Ruby community has developed over the years while rejecting many of the common practices we carry based on inertia but which directly contradict these values.</span></p>
                <p><span class="content-remainder sr-only">In this talk I explore my journey on this shift in perspective from certain fragments of our community and how thinking about simplicity as one of our core values can push us to be better developers while producing better quality of software. We don't need our crutches anymore, let's drop them together!</span></p>
                <a href="#" class="more" data-collapsed-text="Less">More</a>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

        <div id="lucas" class="speaker lucas">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6 col-md-push-6">
                <p class="time tba" data-toggle="tooltip" data-placement="left" title="Schedule will be announced soon.">T.B.A.</p>
                <%= image_tag 'conference/speaker-lucas.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
                <div class="desc">
                  <h3 class="name">Lucas Dohmen</h3>
                  <small class="title">Developer at triAGENS GmbH</small>
                  <div class="further">
                    <a class="bio" href="#" data-toggle="popover" data-html="true" data-placement="bottom" data-content="I'm a member of the core team of the NoSQL database project ArangoDB where I work on the graph functionality, tools for the Ruby community to use the database and Foxx. Furthermore I contribute to various open source projects like hacken.in (an event calender for nerds in my hometown written in Rails) and projects related to ArangoDB. You can find me listening or speaking at our local usergroups for Ruby, JavaScript, NoSQL and (as a coach for) Rails Girls and Coder Dojo.<span>Cologne, Germany</span>"><span class="icon icon-info"></span>Bio</a>
                    <a class="twitter" href="http://www.twitter.com/moonbeamlabs" target="_blank"><span class="icon icon-twitter"></span>Twitter</a>
                    <a class="github" href="http://www.github.com/moonglum" target="_blank"><span class="icon icon-github"></span>GitHub</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="talk">
                <h3>Domain Driven Design &amp; NoSQL</h3>
                <p>Domain Driven Design is a software development process that focuses on finding a common language for the involved parties. This language and the resulting models are taken from the domain rather than the technical details of the implementation. The goal is to improve the communication between <span class="ellipsis">…</span><span class="content-remainder sr-only">customers, developers and all other involved groups. Even if Eric Evan's book about this topic was written almost ten years ago, this topic remains important because a lot of projects fail for communication reasons.</span></p>
                <p><span class="content-remainder sr-only">Relational databases have their own language and influence the design of software into a direction further away from the domain: entities have to be created for the sole purpose of adhering to best practices of relational database. Two kinds of NoSQL databases are changing that: document stores and graph databases. In a document store you can model a contains relation in a more natural way and thereby express if this entity can exist outside of its surrounding entity. A graph database allows you to model relationships between entities in a straight forward way that can be expressed in the language of the domain.</span></p>
                <p><span class="content-remainder sr-only">I want to look at the way a multi model database that combines a document store and a graph database can help you model your problems in a way that is understandable for all parties involved.</span></p>
                <a href="#" class="more" data-collapsed-text="Less">More</a>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

        <div id="brian" class="speaker brian right">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-push-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6">
                <p class="time tba" data-toggle="tooltip" data-placement="right" title="Schedule will be announced soon.">T.B.A.</p>
                <%= image_tag 'conference/speaker-brian.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="desc">
                  <h3 class="name">Brian Morton</h3>
                  <small class="title">Senior Software Engineer at Yammer/Microsoft</small>
                  <div class="further">
                    <a class="bio" href="#" data-toggle="popover" data-html="true" data-placement="bottom" data-content="Brian is a software engineer at Yammer in San Francisco where he builds software and systems to change the way the world gets work done. He’s obsessed with clean code, simple solutions to hard problems, and making things easier. In his free time, he loves playing Zelda and pretending that he can make music with a guitar.<span>San Francisco, USA</span>"><span class="icon icon-info"></span>Bio</a>
                    <a class="twitter" href="http://www.twitter.com/brianxq3" target="_blank"><span class="icon icon-twitter"></span>Twitter</a>
                    <a class="github" href="http://www.github.com/bmorton" target="_blank"><span class="icon icon-github"></span>GitHub</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
              <div class="talk">
                <h3>Dropping Rails for Dropwizard?</h3>
                <p>Due to the success of Rails, many successful organizations find themselves with a Rails application that needs partitioning. Many organizations have chosen to largely abandon Ruby during this transition, yet the reasoning is often reactionary. <span class="ellipsis">…</span></p>
                <p><span class="content-remainder sr-only">This talk explores the approach Yammer has taken, comparing Rails and the Java-based Dropwizard framework. Both have the mantra of getting decision-making and repetition out of the way so you can get things done. Dropwizard takes a slightly different approach by putting emphasis on "production-ready out-of-the-box."</span></p>
                <p><span class="content-remainder sr-only">In this talk, attendees will gain insights into the options Rubyists have for replicating Dropwizard's ops-focus in Rails. Attendees will also come away with an understanding of why Dropwizard's focus on operations and metrics makes it appealing to organizations tearing apart their monolithic Rails application. By assembling similar toolsets for Ruby and Java services, we'll be better positioned to choose between them on the merits of the stack and language.</span></p>
                <a href="#" class="more" data-collapsed-text="Less">More</a>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

        <div id="bryce" class="speaker bryce">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6 col-md-push-6">
                <p class="time tba" data-toggle="tooltip" data-placement="left" title="Schedule will be announced soon.">T.B.A.</p>
                <%= image_tag 'conference/speaker-bryce.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
                <div class="desc">
                  <h3 class="name">Bryce Kerley</h3>
                  <small class="title">Software Engineer at Basho Technologies</small>
                  <div class="further">
                    <a class="bio" href="#" data-toggle="popover" data-html="true" data-placement="bottom" data-content="Bryce organizes the Miami Ruby Brigade, develops the Riak Ruby Client at Basho, and lives in sunny Miami.<span>Miami, USA</span>"><span class="icon icon-info"></span>Bio</a>
                    <a class="twitter" href="http://www.twitter.com/bonzoesc" target="_blank"><span class="icon icon-twitter"></span>Twitter</a>
                    <a class="github" href="http://www.github.com/bkerley" target="_blank"><span class="icon icon-github"></span>GitHub</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="talk">
                <h3>Growing Distributed Systems</h3>
                <p>Distributed systems are big, in every sense of the word. From the biggest social networks and search engines to the simplest web or iOS application, distributed software causes problems, stemming from its greatest feature: the system should continue working even when parts break. <span class="ellipsis">…</span></p>
                <p><span class="content-remainder sr-only">Client applications without network connections still want to capture data, backends with a failed service or two shouldn't break the entire application, and the app should still mostly work even when the big datacenter (you know the one) goes down.</span></p>
                <p><span class="content-remainder sr-only">How do you grow a simple monolithic Rails app into a distributed system? What does it take to make your UI save data for a network connection later? How do you even test all this stuff? I'll be presenting a survey of concepts, architectures, and experiences, with a few tools that make distributed systems less obtuse.</span></p>
                <a href="#" class="more" data-collapsed-text="Less">More</a>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

        <div id="michel" class="speaker michel right">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-push-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6">
                <p class="time tba" data-toggle="tooltip" data-placement="right" title="Schedule will be announced soon.">T.B.A.</p>
                <%= image_tag 'conference/speaker-michel.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="desc">
                  <h3 class="name">Michel Martens</h3>
                  <small class="title">Co-founder of openredis</small>
                  <div class="further">
                    <a class="bio" href="#" data-toggle="popover" data-html="true" data-placement="bottom" data-content="Michel Martens started working with Ruby in 2003. He is the author of Ohm, Cuba and many other libraries, and has been contributing to Redis since 2009.<span>Buenos Aires, Argentina</span>"><span class="icon icon-info"></span>Bio</a>
                    <a class="twitter" href="http://www.twitter.com/soveran" target="_blank"><span class="icon icon-twitter"></span>Twitter</a>
                    <a class="github" href="http://www.github.com/soveran" target="_blank"><span class="icon icon-github"></span>GitHub</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
              <div class="talk">
                <h3>The Ruby Minimalist Counterculture</h3>
                <p>There has always been room in the Ruby community for developers to express themselves through minimalism. They use very simple tools to solve complex problems, and in this presentation I will showcase some of those tools and elaborate on the principles guiding their design.</p>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

        <div id="marcio" class="speaker marcio last">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6 col-md-push-6">
                <p class="time tba" data-toggle="tooltip" data-placement="left" title="Schedule will be announced soon.">T.B.A.</p>
                <%= image_tag 'conference/speaker-marcio.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
                <div class="desc">
                  <h3 class="name">Marcio Trindade</h3>
                  <small class="title">Software Developer at Locaweb</small>
                  <div class="further">
                    <a class="bio" href="#" data-toggle="popover" data-html="true" data-placement="bottom" data-content="Ruby developer since 2008, is currently technical leader of a development team at Locaweb. Worked from simple sites and digital publication projects to products of high scale email delivery.<span>São Paulo, Brazil</span>"><span class="icon icon-info"></span>Bio</a>
                    <a class="twitter" href="http://www.twitter.com/marciotrindade" target="_blank"><span class="icon icon-twitter"></span>Twitter</a>
                    <a class="github" href="http://www.github.com/marciotrindade" target="_blank"><span class="icon icon-github"></span>GitHub</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="talk">
                <h3>The Ruby 2.1 Features</h3>
                <p>We'll walk through the main new features of Ruby 2.1 and show how the changes in Gabarge Collector made this version about 20% faster than the previous one.</p>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="workshops" class="workshops">
  <div class="container">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <h2>Workshops</h2>
      <div class="date-venue-tickets">
        <h3 class="date"><span class="icon icon-calendar"></span>4/24 (Thu.)</h3>
        <h3 class="venue"><span class="icon icon-location"></span>Recife</h3>
        <a href="http://www.eventick.com.br/abrilproruby-int" target="_blank"><span class="icon icon-ticket"></span>Buy your ticket</a>
      </div>
    </div>

    <div id="akshay-and-leandro" class="speaker akshay-and-leandro two-men-army first">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="bkg col-xs-12 col-sm-12 col-md-6 col-md-push-6">
            <p class="time" data-toggle="tooltip" data-placement="left" title="Schedule will be announced soon.">Morning</p>
            <%= image_tag 'conference/speaker-akshay.png', class: 'photo' %>
            <%= image_tag 'conference/speaker-leandro.png', class: 'photo' %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
            <div class="desc">
              <h3 class="name">Akshay Karle</h3>
              <small class="title">Developer at Thoughtworks</small>
              <div class="further">
                <a class="bio" href="#" data-toggle="popover" data-html="true" data-placement="bottom" data-content="Akshay Karle is a application developer at ThoughtWorks. He has been working on Snap CI for almost a year and has keen interest in Linux, Continuous Integration and Ruby.<span>Pune, India</span>"><span class="icon icon-info"></span>Bio</a>
                <a class="twitter" href="http://www.twitter.com/akshay_karle"><span class="icon icon-twitter"></span>Twitter</a>
                <a class="github" href="http://www.github.com/akshaykarle"><span class="icon icon-github"></span>GitHub</a>
              </div>
            </div>
            <div class="desc">
              <h3 class="name">Leandro Gualter</h3>
              <small class="title">Developer at Thoughtworks</small>
              <div class="further">
                <a class="bio" href="#" data-toggle="popover" data-html="true" data-placement="bottom" data-content="Leandro Gualter is a Web developer with over 10 years of experience. He is a member of the team that builds Snap-CI, a hosted continuous integration service at Thoughtworks. He is passionate about languages that let him assign functions to variables, addicted to energy drinks and is now on a mission to explore the distant corners of the DevOps universe.<span>Recife, Brazil</span>"><span class="icon icon-info"></span>Bio</a>
                <a class="github" href="http://www.github.com/akshaykarle"><span class="icon icon-github"></span>GitHub</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="talk">
            <h3>Coding in Production</h3>
            <p>Ever had that bug that happens "only in production"? Ever heard someone say "but it works on my machine"? Ever said it yourself? Wouldn't it be nice if you could write all your code directly in production-so that when it works for you on your machine, it also works for everyone else?</p>
            <p>In this workshop we will build a virtual environment which replicates a production environment from scratch using configuration automation and virtualization through lightweight containers. With our trusty tools-Vagrant, Docker and Chef-we will proceed step by step to build a local development environment. <span class="ellipsis">…</span></p>
            <p><span class="content-remainder sr-only">With this, we hope to highlight the benefits of being able to see locally how code would actually work in production-helping catch design issues quickly and eliminate entire classes of bugs. Plus, to be honest, it also gives us a chance to play around with some really fun tech.</span></p>
            <a href="#" class="more" data-collapsed-text="Less">More</a>
          </div>
        </div>
      </div>
      <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
    </div>

    <div id="phil" class="speaker phil right">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-push-6">
          <div class="bkg col-xs-12 col-sm-12 col-md-6">
            <p class="time" data-toggle="tooltip" data-placement="right" title="Schedule will be announced soon.">Afternoon</p>
            <%= image_tag 'conference/speaker-phil.png', class: 'photo' %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="desc">
              <h3 class="name">Phil Cohen</h3>
              <small class="title">Operations Engineer at Shopify</small>
              <div class="further">
                <a class="bio" href="#" data-toggle="popover" data-html="true" data-placement="bottom" data-content="Phil lives and enjoys life in the mountains near Lake Tahoe with his wife, 3 kids, 2 cats, and a dog. He is an avid participant in several open source communities, a musician, a teacher, a mentor, and currently works as an Operations Engineer with Shopify. He is always interested in remote pairing and playing word games.<span>Truckee, USA</span>"><span class="icon icon-info"></span>Bio</a>
                <a class="twitter" href="http://www.twitter.com/phlipper" target="_blank"><span class="icon icon-twitter"></span>Twitter</a>
                <a class="github" href="http://www.github.com/phlipper" target="_blank"><span class="icon icon-github"></span>GitHub</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
          <div class="talk">
            <h3>Cooking at Shopify: Taming a Busy Kitchen with Many Chefs</h3>
            <p>We use Chef to manage a large and rapidly growing infrastructure at Shopify. Our cookbooks are open to development not only by our Operations Team, but by all 200+ developers at the company, and we manage to maintain <span class="ellipsis">…</span><span class="content-remainder sr-only">an environment of continuous delivery and continuous improvement for our infrastructure. In this workshop, I'll discuss our goals and motivations, some of our workflows, internal tooling, and security considerations when operating at our scale. We'll also spend some time setting up a similar environment and discussing sustainable infrastructure strategies.</p></span>
            <a href="#" class="more" data-collapsed-text="Less">More</a>
          </div>
        </div>
      </div>
      <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
    </div>

    <div id="cloves-and-tim" class="speaker cloves-and-tim two-men-army last">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="bkg col-xs-12 col-sm-12 col-md-6 col-md-push-6">
            <p class="time" data-toggle="tooltip" data-placement="left" title="Schedule will be announced soon.">Afternoon</p>
            <%= image_tag 'conference/speaker-cloves.png', class: 'photo' %>
            <%= image_tag 'conference/speaker-tim.png', class: 'photo' %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
            <div class="desc">
              <h3 class="name">Cloves Carneiro Jr</h3>
              <small class="title">Software Engineer at LivingSocial</small>
              <div class="further">
                <a class="bio" href="#" data-toggle="popover" data-html="true" data-placement="bottom" data-content="Cloves Carneiro has been writing software since 1997. His career in tech has been separated into two parts: Java and Ruby. In his early days as a software developer, Cloves built web applications for large telecommunication companies, such as Manitoba Telecommunications(MTS), AMCTV, We.tv, News12, and SportSkool using Java frameworks, including Struts, Webwork and Spring. He has moved to the Ruby camp since 2006, and has enjoyed working full-time with Ruby/Rails, he has worked as a consultant, and as an employee for Unspace and Amazon.com. Cloves wrote a couple of Ruby on Rails books, 'Beginning Rails' and 'Beginning Rails 3' for Apress. He is currently based in South Florida, and works as a Software Engineer for LivingSocial.<span>Miami, USA</span>"><span class="icon icon-info"></span>Bio</a>
                <a class="twitter" href="http://www.twitter.com/ccjr"><span class="icon icon-twitter"></span>Twitter</a>
                <a class="github" href="http://www.github.com/ccjr"><span class="icon icon-github"></span>GitHub</a>
              </div>
            </div>
            <div class="desc">
              <h3 class="name">Tim Schmelmer</h3>
              <small class="title">Software Engineer at LivingSocial</small>
              <div class="further">
                <a class="bio" href="#" data-toggle="popover" data-html="true" data-placement="bottom" data-content="<p>After abandoning his childhood dream of becoming an actual firefighter, Tim did the next best thing and became a software developer. He has spent the past 18 years extinguishing fires while working for technology consulting companies, telecommunications equipment manufacturers, building control systems for research telescopes, and selling things to people via a Web browser.</p><p>Tim found his love for Ruby while building service-oriented systems at Amazon.com, and he is currently working on a team that does surprisingly little firefighting while building and maintaining LivingSocial.com's core services platform. When he is not hacking away on his keyboard, or trying to be a good husband and father of two girls. Tim loves to run, bike, and hike in the mountains near beautiful Boulder, Colorado.<span>Boulder, USA</span></p>"><span class="icon icon-info"></span>Bio</a>
                <a class="twitter" href="http://www.twitter.com/twitty_tim"><span class="icon icon-twitter"></span>Twitter</a>
                <a class="github" href="http://www.github.com/timbogit"><span class="icon icon-github"></span>GitHub</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="talk">
            <h3>Adopting SOA from Day 1</h3>
            <p>In this workshop, we'll explain what a Service-Oriented Architecture is, its advantages, and the reasons why developers should think about it when starting an application. I'll go into how complex and expensive it is to move to SOA when applications reach a specific code base size, traffic load, and will argue that using a SOA in an early stage of development is a feasible solution. We'll build a set of services and front-end applications to put into practice all the theory discussed in the workshop. We'll give parts of the workshop in Portuguese and English.</p>
          </div>
        </div>
      </div>
      <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
    </div>

  </div>
</section>

<section id="activities" class="activities">
  <div class="container">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <h2>Activities</h2>
    </div>

    <div class="friday col-md-12 col-sm-12">
      <div class="date-venue-tickets">
        <h3 class="date"><span class="icon icon-calendar"></span>4/25 (Fri.)</h3>
        <h3 class="venue"><span class="icon icon-location"></span>Porto de Galinhas</h3>
      </div>
      <div class="row">
        <div class="activity col-md-6 col-xs-12">
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <a class="frame" href="#" data-toggle="popover" data-html="true" data-placement="bottom" data-content="Expected duration: 1h.<br />This activity will be organized by a trusted third-party.">
                <span class="icon icon-sailing"></span>
                <h3>Raft Boat Sailing</h3>
              </a>
            </div>
            <div class="col-md-8 col-xs-12">
              <p>Sail over the famous natural pools of Porto de Galinhas on a traditional raft boat used by local fishermen.</p>
              <a class="ticket soon" target="_blank"><span class="icon icon-ticket"></span>Buy your ticket<span>(Soon)</span></a>
            </div>
          </div>
        </div>
        <div class="activity col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <a class="frame" href="#" data-toggle="popover" data-html="true" data-placement="bottom" data-content="Expected duration: 3h.<br />This activity will be organized by a trusted third-party.">
                <span class="icon icon-buggy"></span>
                <h3>Buggy Ride</h3>
              </a>
            </div>
            <div class="col-md-8 col-xs-12">
              <p>Enjoy this off-road adventure across the white sand beaches of Muro Alto, Cupe, Porto de Galinhas and Maracaípe.</p>
              <a class="ticket soon" target="_blank"><span class="icon icon-ticket"></span>Buy your ticket<span>(Soon)</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sunday col-md-12 col-sm-12">
      <div class="date-venue-tickets">
        <h3 class="date"><span class="icon icon-calendar"></span>4/27 (Sun.)</h3>
        <h3 class="venue"><span class="icon icon-location"></span>Porto de Galinhas</h3>
      </div>
      <div class="row">
        <div class="activity col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <a class="frame" href="#" data-toggle="popover" data-html="true" data-placement="bottom" data-content="This activity includes:<ul><li>Pre-diving instructions;</li><li>Pre-diving adaptation;</li><li>Up to 20 minutes under the water;</li><li>Maximum depth of 6 meters;</li><li>Sail by raft boat to the diving point (about 200m away from the coast);</li><li>All necessary equipment.</li></ul>Expected duration: 1h.<br />This activity will be organized by a trusted third-party.">
                <span class="icon icon-scuba"></span>
                <h3>Scuba Diving</h3>
              </a>
            </div>
            <div class="col-md-8 col-xs-12">
              <p>Explore the gorgeous marine fauna &amp; flora of Porto de Galinhas in this baptism diving accompanied by an SSI certified instructor.</p>
              <a class="ticket soon" target="_blank"><span class="icon icon-ticket"></span>Buy your ticket<span>(Soon)</span></a>
            </div>
          </div>
        </div>
        <div class="activity col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <a class="frame" href="#" data-toggle="popover" data-html="true" data-placement="bottom" data-content="This activity includes:<ul><li>Saltwater shower;</li><li>Bar and restaurant;</li><li>Relaxing hammock over the water;</li><li>Toilets.</li></ul>Expected duration: 4h.<br />This activity will be organized by a trusted third-party.">
                <span class="icon icon-catamaran"></span><h3>Catamaran Sailing</h3>
              </a>
            </div>
            <div class="col-md-8 col-xs-12">
              <p>Discover Pernambuco’s south coastline, passing by Carneiros Beach, Formoso River’s Mangroves, Guadalupe Beach &amp; Santo Aleixo, aboard a catamaran.</p>
              <a class="ticket soon" target="_blank"><span class="icon icon-ticket"></span>Buy your ticket<span>(Soon)</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="remarks col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <h4 class="sr-only">Remarks</h4>
      <ul>
        <li>Activities are not included in the conference tickets.</li>
        <li>Passes will be sold separately.</li>
        <li>Limited availability.</li>
      </ul>
      <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
    </div>

    <footer>
      <div class="attribution">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <p>Icons' attribution (in respective order): Conversation, Microphone, Beach Ball, Boat, Sail Boat, Snorkel and Gear by Gregory Radek, Edward Boatman, Celine Labaume, James Keuning, Laurent Patain, Nithin Viswanathan and Reed Enger from <a href="http://www.thenounproject.com" target="_blank">The Noun Project</a>.</p>
        </div>
      </div>
    </footer>
  </div>
</section>
