---
title: Conference &#9671; Abril Pro Ruby 2014 &#9671; April 26th @ Porto de Galinhas
---

<header id="content" class="of-section">
  <div class="content-background">
    <div class="container">
      <h1>
        <span class="icon"></span>Conference
      </h1>
      <nav class="secondary">
        <ul>
          <li>
            <a data-scroll data-url="true" href="#speakers">Talks</a>
          </li>
          <li>
            <a data-scroll data-url="true" href="#workshops">Workshops</a>
          </li>
          <li>
            <a data-scroll data-url="true" href="#activities">Activities</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<section id="speakers" class="speakers">
  <div class="container">
    <h2>Talks</h2>
    <h3 class="date">Saturday (April 26<sup>th</sup>) &mdash; Hotel Armação</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker jim">
          <%= image_tag 'conference/speaker-jim.png', class: 'photo' %>
          <div class="desc">
            <p class="rip-jim">We're very sad to hear that <strong>Jim Weirich</strong> passed away. Thanks, Jim, for everything you gave us and for being an inspiration to each one of us. Rest in peace. :~(</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker nell">
          <%= image_tag 'conference/speaker-nell.png', class: 'photo' %>
          <div class="desc">
            <h3>Crafting and Optimizing Algorithms in Ruby</h3>
            <h4 class="name">Nell Shamrell</h4><br/>
            <small class="title">Senior Developer at PhishMe</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker rafael">
          <%= image_tag 'conference/speaker-rafael.png', class: 'photo' %>
          <div class="desc">
            <h3>Rails: The Hidden Parts</span></h3>
            <h4 class="name">Rafael França</h4><br/>
            <small class="title">Software Developer at Plataformatec</small>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker arthur">
          <%= image_tag 'conference/speaker-arthur.png', class: 'photo' %>
          <div class="desc">
            <h3>Sharding Shopify</h3>
            <h4 class="name">Arthur Neves</h4><br/>
            <small class="title">Software Developer at Shopify</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker tj">
          <%= image_tag 'conference/speaker-tj.png', class: 'photo' %>
          <div class="desc">
            <h3>80,000 Plaintext Passwords: An Open Source Love Story in Three Acts</h3>
            <h4 class="name">T.J. Schuck</h4><br/>
            <small class="title">Developer at Harvest</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker guilherme">
          <%= image_tag 'conference/speaker-guilherme.png', class: 'photo' %>
          <div class="desc">
            <h3>Distributed Architecture: Scaling Projects and Teams</h3>
            <h4 class="name">Guilherme Garnier</h4><br/>
            <small class="title">Software Developer at Globo.com</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker scott">
          <%= image_tag 'conference/speaker-scott.png', class: 'photo' %>
          <div class="desc">
            <h3>Deprecating the Password: An Alternative Approach to Authentication Using E-mail Only</h3>
            <h4 class="name">Scott Motte</h4><br/>
            <small class="title">Developer Evangelist at SendGrid</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker joao">
          <%= image_tag 'conference/speaker-joao.png', class: 'photo' %>
          <div class="desc">
            <h3>Developing Products, not Apps</h3>
            <h4 class="name">João M. D. Moura</h4><br/>
            <small class="title">CTO at Palpiteros</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker pablo">
          <%= image_tag 'conference/speaker-pablo.png', class: 'photo' %>
          <div class="desc">
            <h3>The Dilemma of Simplicity</h3>
            <h4 class="name">Pablo Astigarraga</h4><br/>
            <small class="title">Software Developer at tarmac.io</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker lucas">
          <%= image_tag 'conference/speaker-lucas.png', class: 'photo' %>
          <div class="desc">
            <h3>Domain Driven Design &amp; NoSQL</h3>
            <h4 class="name">Lucas Dohmen</h4><br/>
            <small class="title">Developer at triAGENS GmbH</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker brian">
          <%= image_tag 'conference/speaker-brian.png', class: 'photo' %>
          <div class="desc">
            <h3>Dropping Rails for Dropwizard?</h3>
            <h4 class="name">Brian Morton</h4><br/>
            <small class="title">Senior Software Engineer at Yammer/Microsoft</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker bryce">
          <%= image_tag 'conference/speaker-bryce.png', class: 'photo' %>
          <div class="desc">
            <h3>Growing Distributed Systems</h3>
            <h4 class="name">Bryce Kerley</h4><br/>
            <small class="title">Software Engineer at Basho Technologies</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div class="speaker michel">
          <%= image_tag 'conference/speaker-michel.png', class: 'photo' %>
          <div class="desc">
            <h3>The Ruby Minimalist Counterculture</h3>
            <h4 class="name">Michel Martens</h4><br/>
            <small class="title">Co-founder of openredis</small>
          </div>
        </div>
      </div>
    </div>
    <div class="remarks col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <h4 class="sr-only">Remarks</h4>
      <ul>
        <li>All talks will have simultaneous translation to English and Portuguese.</li>
        <li>More info will be available in a few days.</li>
      </ul>
    </div>
  </div>
</section>

<section class="activities-all">
  <div class="container">
    <div id="workshops" class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <h2 class="activities-work">Workshops</h2>
      <h3 class="date">Thursday (April 24<sup>th</sup>) &mdash; Recife</h3>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <div class="speaker leandro-akshay">
          <div class="two-men-army">
            <%= image_tag 'conference/speaker-akshay.png', class: 'photo two-photos' %>
            <%= image_tag 'conference/speaker-leandro.png', class: 'photo two-photos last' %>
          </div>
          <div class="desc">
            <h3>Coding in Production</h3>
            <p><span class="tag-period">Morning</span></p>
            <h4 class="name">Akshay Karle &amp; Leandro Gualter</h4><br/>
            <small class="title">Developers at Thoughtworks</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
        <div class="speaker cloves-tim">
          <div class="two-men-army">
            <%= image_tag 'conference/speaker-cloves.png', class: 'photo two-photos' %>
            <%= image_tag 'conference/speaker-tim.png', class: 'photo two-photos last' %>
          </div>
          <div class="desc">
            <h3>Adopting SOA from Day 1</h3>
            <p><span class="tag-period">Afternoon</span></p>
            <h4 class="name">Cloves Carneiro Jr &amp; Tim Schmelmer</h4><br/>
            <small class="title">Software Engineers at LivingSocial</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="speaker phil">
          <%= image_tag 'conference/speaker-phil.png', class: 'photo' %>
          <div class="desc">
            <h3>Cooking at Shopify: Taming a Busy Kitchen with Many Chefs</h3>
            <p><span class="tag-period">Afternoon</span></p>
            <h4 class="name">Phil Cohen</h4><br/>
            <small class="title">Operations Engineer at Shopify</small>
          </div>
        </div>
      </div>
      <div class="remarks col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h4 class="sr-only">Remarks</h4>
        <ul>
          <li>Workshops are not included in the conference tickets.</li>
          <li>Passes are being sold separately at <a href="http://www.eventick.com.br/abrilproruby-int" target="_blank">Eventick.</a></li>
          <li>All workshops will be presented in English.</li>
          <li>Limited availability.</li>
          <li>More info will be available in a few days.</li>
        </ul>
        <hr>
      </div>
    </div>

    <div id="activities" class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <h2 class="activities-fun">Activities</h2>
    </div>
    <div class="row">
      <div class="friday col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
        <h3 class="date">Friday (April 25<sup>th</sup>) &mdash; Porto</h3>
        <ul>
          <div class="row">
            <div class="activity">
              <li><span class="icon icon-sailing"></span>Raft Boat Sailing</li>
            </div>
            <div class="activity">
              <li><span class="icon icon-buggy"></span>Buggy Ride</li>
            </div>
          </div>
        </ul>
      </div>
      <div class="sunday col-lg-4 col-md-5 col-sm-6 col-xs-12">
        <h3 class="date">Sunday (April 27<sup>th</sup>) &mdash; Porto</h3>
        <ul>
          <div class="row">
            <div class="activity">
              <li><span class="icon icon-snorkeling"></span>Scuba Diving</li>
            </div>
            <div class="activity">
              <li><span class="icon icon-catamaran"></span>Catamaran Ride</li>
            </div>
          </div>
        </ul>
      </div>
      <div class="remarks col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h4 class="sr-only">Remarks</h4>
        <ul>
          <li>Activities are not included in the conference tickets.</li>
          <li>Passes will be sold separately.</li>
          <li>The specific activities are subject to change.</li>
          <li>Limited availability.</li>
          <li>More info will be available in a few days.</li>
        </ul>
      </div>
    </div>

    <footer>
      <div class="attribution">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <p>Icons' attribution (in respective order): Conversation, Microphone, Beach Ball, Boat, Sail Boat, Snorkel and Gear by Gregory Radek, Edward Boatman, Celine Labaume, James Keuning, Laurent Patain, Nithin Viswanathan and Reed Enger from <a href="http://www.thenounproject.com" target="_blank">The Noun Project</a>.</p>
        </div>
      </div>
    </footer>
  </div>
</section>
