---
title: Conference &#9671; Abril Pro Ruby 2014 &#9671; April 26th @ Porto de Galinhas
---

<header id="content" class="of-section">
  <div class="content-background">
    <div class="container">
      <h1><span class="icon"></span>Conference</h1>
      <nav class="secondary">
        <ul>
          <li>
            <a data-scroll data-url="true" href="#workshops">
              <span class="icon icon-workshops"></span>
              <span class="day">4<span>/</span>24</span><span class="subtitle">Workshops</span>
            </a>
          </li>
          <li>
            <a data-scroll data-url="true" href="#activities">
              <span class="icon icon-activities"></span>
              <span class="day">4<span>/</span>25</span><span class="subtitle">Activities</span>
            </a>
          </li>
          <li>
            <a data-scroll data-url="true" href="#talks">
              <span class="icon icon-talks"></span>
              <span class="day">4<span>/</span>26</span><span class="subtitle">Talks</span>
            </a>
          </li>
          <li>
            <a data-scroll data-url="true" href="#activities">
              <span class="icon icon-activities"></span>
              <span class="day">4<span>/</span>27</span><span class="subtitle">Activities</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<section id="talks" class="talks">
  <div class="container">
    <h2>Talks</h2>
    <div class="date-venue-tickets">
      <h3 class="date"><span class="icon icon-calendar"></span>04/26 (Sat.)</h3>
      <h3 class="venue"><span class="icon icon-location"></span>Hotel Armação</h3>
      <a href="http://www.eventick.com.br/abrilproruby-int" target="_blank"><span class="icon icon-ticket"></span>Buy your ticket</a>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">

        <div id="nell" class="speaker nell">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6 col-md-push-6">
                <p class="time tba" title="Schedule to be announced">T.B.A.</p>
                <%= image_tag 'conference/speaker-nell.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
                <div class="desc">
                  <h3 class="name">Nell Shamrell</h3>
                  <small class="title">Senior Developer at PhishMe</small>
                  <div class="further"><a class="bio" href="#"><span class="icon icon-info"></span>Bio</a><a class="twitter" href="http://www.twitter.com/nellshamrell" target="_blank"><span class="icon icon-twitter"></span>Twitter</a><a class="github" href="http://www.github.com/nellshamrell" target="_blank"><span class="icon icon-github"></span>GitHub</a></div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="talk">
                <h3>Crafting and Optimizing Algorithms in Ruby<span class="duration sr-only">30m</span></h3>
                <p>Every day, knowingly or not, we create and follow algorithms. From deciding what route to take home from the office to following a recipe as we cook or bake, life is made of patterns. These patterns take on special meeting when they need to be interpreted by a computer. No matter who interprets <span class="ellipsis">…</span><span class="sr-only">algorithms—whether human or machine—they must be efficient in both speed and resource consumption. Come and learn the principles and best practices of crafting, evaluating, and refining algorithms in Ruby. We will work our way through a real world example of creating the core algorithm of a fantasy combat game. Step by step, we will translate a complex system of rules into a robust and efficient Ruby algorithm. You will walk away with a better understanding of how to create optimal algorithms and refactor existing algorithms in your own Ruby code.</span></p>
                <a href="#" class="more">More</a>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

        <div id="rafael" class="speaker rafael right">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-push-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6">
                <p class="time tba" title="Schedule to be announced">T.B.A.</p>
                <%= image_tag 'conference/speaker-rafael.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="desc">
                  <h3 class="name">Rafael França</h3>
                  <small class="title">Software Developer at Plataformatec</small>
                  <div class="further"><a class="bio" href="#"><span class="icon icon-info"></span>Bio</a><a class="twitter" href="http://www.twitter.com/rafaelfranca" target="_blank"><span class="icon icon-twitter"></span>Twitter</a><a class="github" href="http://www.github.com/rafaelfranca" target="_blank"><span class="icon icon-github"></span>GitHub</a></div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
              <div class="talk">
                <h3>Rails: The Hidden Parts<span class="duration sr-only">30m</span></h3>
                <p>The Rails framework contains a set of useful features for every Web application, but not every feature is well implemented and bug-free.</p>
                <p>During this talk we will walk through two very old Rails features—Active Record’s scopes and HTML sanitisation<span class="ellipsis">…</span><span class="sr-only">—and explain how they work under the hood. Also, It will be presented the current issues we’ve been facing and how they can be improved.</span></p>
                <a href="#" class="more">More</a>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

        <div id="arthur" class="speaker arthur">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6 col-md-push-6">
                <p class="time tba" title="Schedule to be announced">T.B.A.</p>
                <%= image_tag 'conference/speaker-arthur.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
                <div class="desc">
                  <h3 class="name">Arthur Neves</h3>
                  <small class="title">Software Developer at Shopify</small>
                  <div class="further"><a class="bio" href="#"><span class="icon icon-info"></span>Bio</a><a class="twitter" href="http://www.twitter.com/arthurnn" target="_blank"><span class="icon icon-twitter"></span>Twitter</a><a class="github" href="http://www.github.com/arthurnn" target="_blank"><span class="icon icon-github"></span>GitHub</a></div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="talk">
                <h3>Sharding Shopify<span class="duration sr-only">30m</span></h3>
                <p>Database was always one of our first bottlenecks when trying to scale Shopify in multiple servers. Nowadays, NoSQL databases are getting pretty popular, specially because they scale out of the box. At Shopify, we decide to not use a NoSQL database as our canonical source of data and, in order to scale that properly <span class="ellipsis">…</span><span class="sr-only">, we had to create custom solutions to shard its data. I will be talking about how we did it using Ruby and Rails, and when you should shard a big database.</span></p>
                <a href="#" class="more">More</a>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

        <div id="tj" class="speaker tj right">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-push-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6">
                <p class="time tba" title="Schedule to be announced">T.B.A.</p>
                <%= image_tag 'conference/speaker-tj.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="desc">
                  <h3 class="name">T.J. Schuck</h3>
                  <small class="title">Developer at Harvest</small>
                  <div class="further"><a class="bio" href="#"><span class="icon icon-info"></span>Bio</a><a class="twitter" href="http://www.twitter.com/tjschuck" target="_blank"><span class="icon icon-twitter"></span>Twitter</a><a class="github" href="http://www.github.com/tjschuck" target="_blank"><span class="icon icon-github"></span>GitHub</a></div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
              <div class="talk">
                <h3>80,000 Plaintext Passwords: An Open Source Love Story in Three Acts<span class="duration sr-only">30m</span></h3>
                <p>Considering getting a new dog? Here are some name suggestions: fluffmuffin, peppercorn, monkeybreath.</p>
                <p>Just kidding, those aren't dog name suggestions—those are a few of our users' plaintext passwords. <span class="ellipsis">…</span></p><span class="sr-only">
                <p>Don't like any of those? Don't worry—I have 80,000 more, and it only took me 87 seconds to gather them from our customer database in a white-hat attack.</p>
                <p>In Act I, we'll cover the history of secure password storage, examine the hack, and mitigate the threat. Act II will address the difficulties of working on libraries with complicated dependencies (like bcrypt-ruby, of which I'm now a maintainer). In Act III, we'll celebrate the power of global collaboration via OSS.</p>
                <p>[Scene.]</p></span>
                <a href="#" class="more">More</a>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

        <div id="guilherme" class="speaker guilherme">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6 col-md-push-6">
                <p class="time tba" title="Schedule to be announced">T.B.A.</p>
                <%= image_tag 'conference/speaker-guilherme.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
                <div class="desc">
                  <h3 class="name">Guilherme Garnier</h3>
                  <small class="title">Software Developer at Globo.com</small>
                  <div class="further"><a class="bio" href="#"><span class="icon icon-info"></span>Bio</a><a class="twitter" href="http://www.twitter.com/guilhermgarnier" target="_blank"><span class="icon icon-twitter"></span>Twitter</a><a class="github" href="http://www.github.com/ggarnier" target="_blank"><span class="icon icon-github"></span>GitHub</a></div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="talk">
                <h3>Distributed Architecture: Scaling Projects and Teams<span class="duration sr-only">30m</span></h3>
                <p>A few years ago, a lot of people said that Rails did not scale. Nowadays, there are a lot of big applications in Rails that show that this is not true. But when your project grows, to which point is it worth to keep everything in a single application? <span class="ellipsis">…</span><span class="sr-only">In this presentation, I will show details of a service distributed architecture, highlighting the advantages and drawbacks of this approach. The case of the Globo.tv (http://globotv.globo.com/) will be presented as an example. In this project, we use this architecture to allow different teams to work together.</span></p>
                <a href="#" class="more">More</a>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

        <div id="scott" class="speaker scott right">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-push-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6">
                <p class="time tba" title="Schedule to be announced">T.B.A.</p>
                <%= image_tag 'conference/speaker-scott.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="desc">
                  <h3 class="name">Scott Motte</h3>
                  <small class="title">Developer Evangelist at SendGrid</small>
                  <div class="further"><a class="bio" href="#"><span class="icon icon-info"></span>Bio</a><a class="twitter" href="http://www.twitter.com/scottmotte" target="_blank"><span class="icon icon-twitter"></span>Twitter</a><a class="github" href="http://www.github.com/scottmotte" target="_blank"><span class="icon icon-github"></span>GitHub</a></div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
              <div class="talk">
                <h3>Deprecating the Password: An Alternative Approach to Authentication using Email Only<span class="duration sr-only">30m</span></h3>
                <p>We should be evaluating whether the traditional username and password is the best form of authentication. I think there is a better way. I've open sourced something called Handshake.js that implements an email only authentication mechanism.<span class="ellipsis">…</span></p><span class="sr-only">
                <p>Come see a talk on the strengths and weaknesses of this new approach as well as a live coded demo on implementing this into your next Ruby application.</p></span>
                <a href="#" class="more">More</a>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

        <div id="joao" class="speaker joao">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6 col-md-push-6">
                <p class="time tba" title="Schedule to be announced">T.B.A.</p>
                <%= image_tag 'conference/speaker-joao.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
                <div class="desc">
                  <h3 class="name">João M. D. Moura</h3>
                  <small class="title">CTO at Palpiteros</small>
                  <div class="further"><a class="bio" href="#"><span class="icon icon-info"></span>Bio</a><a class="twitter" href="http://www.twitter.com/joaomdmoura" target="_blank"><span class="icon icon-twitter"></span>Twitter</a><a class="github" href="http://www.github.com/joaomdmoura" target="_blank"><span class="icon icon-github"></span>GitHub</a></div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="talk">
                <h3>Developing Products, not Apps<span class="duration sr-only">30m</span></h3>
                <p>The Ruby world has been protagonist of a new era of entrepreneurship in the technology market. There are many techniques, new specifications and conventions that are designed to facilitate and enhance the development of applications, especially on the web. <span class="ellipsis">…</span><span class="sr-only">But this new context completely changes the way we were used to develop. Currently, the role of the Ruby developer goes beyond programming, and progresses within the product creation process, innovation, and effective participation in decisions that may determine the success or failure of an application. In this talk, I will demonstrate how you can expand the mindset from application development to product development.</span></p>
                <a href="#" class="more">More</a>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

        <div id="pablo" class="speaker pablo right">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-push-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6">
                <p class="time tba" title="Schedule to be announced">T.B.A.</p>
                <%= image_tag 'conference/speaker-pablo.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="desc">
                  <h3 class="name">Pablo Astigarraga</h3>
                  <small class="title">Software Developer at tarmac.io</small>
                  <div class="further"><a class="bio" href="#"><span class="icon icon-info"></span>Bio</a><a class="twitter" href="http://www.twitter.com/poteland" target="_blank"><span class="icon icon-twitter"></span>Twitter</a><a class="github" href="http://www.github.com/pote" target="_blank"><span class="icon icon-github"></span>GitHub</a></div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
              <div class="talk">
                <h3>Deprecating the password: An alternative approach to authentication using email only<span class="duration sr-only">30m</span></h3>
                <p>Over the years we've learned to pay attention to the importance of a number of highly desirable qualities in software: readability, maintainability, adaptation to change. We've accepted these values as good and actively pursue them yet we consistently <span class="ellipsis">…</span><span class="sr-only">ignore what is probably the best method of achieving these qualities, it's staring us right in the face now.</span></p>
                <span class="sr-only"><p>Slowly but steadily the philosophy of embracing simplicity in software design by carefully calculating and minimizing unnecessary complexity is gaining traction in our community, and for a good reason: it organically pushes us to the best software practices we all know and love, it both embraces all the core principles the Ruby community has developed over the years while rejecting many of the common practices we carry based on inertia but which directly contradict these values.</p>
                <p>In this talk I explore my journey on this shift in perspective from certain fragments of our community and how thinking about simplicity as one of our core values can push us to be better developers while producing better quality of software. We don't need our crutches anymore, let's drop them together!</p></span>
                <a href="#" class="more">More</a>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

        <div id="lucas" class="speaker lucas">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6 col-md-push-6">
                <p class="time tba" title="Schedule to be announced">T.B.A.</p>
                <%= image_tag 'conference/speaker-lucas.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
                <div class="desc">
                  <h3 class="name">Lucas Dohmen</h3>
                  <small class="title">Developer at triAGENS GmbH</small>
                  <div class="further"><a class="bio" href="#"><span class="icon icon-info"></span>Bio</a><a class="twitter" href="http://www.twitter.com/moonbeamlabs" target="_blank"><span class="icon icon-twitter"></span>Twitter</a><a class="github" href="http://www.github.com/moonglum" target="_blank"><span class="icon icon-github"></span>GitHub</a></div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="talk">
                <h3>Domain Driven Design &amp; NoSQL<span class="duration sr-only">30m</span></h3>
                <p>Domain Driven Design is a software development process that focuses on finding a common language for the involved parties. This language and the resulting models are taken from the domain rather than the technical details of the implementation. The goal is to improve the communication between <span class="ellipsis">…</span><span class="sr-only">customers, developers and all other involved groups. Even if Eric Evan's book about this topic was written almost ten years ago, this topic remains important because a lot of projects fail for communication reasons.</span></p>
                <span class="sr-only"><p>Relational databases have their own language and influence the design of software into a direction further away from the domain: entities have to be created for the sole purpose of adhering to best practices of relational database. Two kinds of NoSQL databases are changing that: document stores and graph databases. In a document store you can model a contains relation in a more natural way and thereby express if this entity can exist outside of its surrounding entity. A graph database allows you to model relationships between entities in a straight forward way that can be expressed in the language of the domain.</p>
                <p>I want to look at the way a multi model database that combines a document store and a graph database can help you model your problems in a way that is understandable for all parties involved.</p></span>
                <a href="#" class="more">More</a>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

        <div id="brian" class="speaker brian right">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-push-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6">
                <p class="time tba" title="Schedule to be announced">T.B.A.</p>
                <%= image_tag 'conference/speaker-brian.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="desc">
                  <h3 class="name">Brian Morton</h3>
                  <small class="title">Senior Software Engineer at Yammer/Microsoft</small>
                  <div class="further"><a class="bio" href="#"><span class="icon icon-info"></span>Bio</a><a class="twitter" href="http://www.twitter.com/brianxq3" target="_blank"><span class="icon icon-twitter"></span>Twitter</a><a class="github" href="http://www.github.com/bmorton" target="_blank"><span class="icon icon-github"></span>GitHub</a></div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
              <div class="talk">
                <h3>Dropping Rails for Dropwizard?<span class="duration sr-only">30m</span></h3>
                <p>Due to the success of Rails, many successful organizations find themselves with a Rails application that needs partitioning. Many organizations have chosen to largely abandon Ruby during this transition, yet the reasoning is often reactionary.</p><span class="ellipsis">…</span><span class="sr-only">
                <p>This talk explores the approach Yammer has taken, comparing Rails and the Java-based Dropwizard framework. Both have the mantra of getting decision-making and repetition out of the way so you can get things done. Dropwizard takes a slightly different approach by putting emphasis on "production-ready out-of-the-box."</p>
                <p>In this talk, attendees will gain insights into the options Rubyists have for replicating Dropwizard's ops-focus in Rails. Attendees will also come away with an understanding of why Dropwizard's focus on operations and metrics makes it appealing to organizations tearing apart their monolithic Rails application. By assembling similar toolsets for Ruby and Java services, we'll be better positioned to choose between them on the merits of the stack and language.</p></span>
                <a href="#" class="more">More</a>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

        <div id="bryce" class="speaker bryce">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6 col-md-push-6">
                <p class="time tba" title="Schedule to be announced">T.B.A.</p>
                <%= image_tag 'conference/speaker-bryce.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
                <div class="desc">
                  <h3 class="name">Bryce Kerley</h3>
                  <small class="title">Developer at triAGENS GmbH</small>
                  <div class="further"><a class="bio" href="#"><span class="icon icon-info"></span>Bio</a><a class="twitter" href="http://www.twitter.com/bonzoesc" target="_blank"><span class="icon icon-twitter"></span>Twitter</a><a class="github" href="http://www.github.com/bkerley" target="_blank"><span class="icon icon-github"></span>GitHub</a></div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="talk">
                <h3>Growing Distributed Systems<span class="duration sr-only">30m</span></h3>
                <p>Distributed systems are big, in every sense of the word. From the biggest social networks and search engines to the simplest web or iOS application, distributed software causes problems, stemming from its greatest feature: the system should continue working even when parts break. <span class="ellipsis">…</span></p>
                <span class="sr-only"><p>Client applications without network connections still want to capture data, backends with a failed service or two shouldn't break the entire application, and the app should still mostly work even when the big datacenter (you know the one) goes down.</p>
                <p>How do you grow a simple monolithic Rails app into a distributed system? What does it take to make your UI save data for a network connection later? How do you even test all this stuff? I'll be presenting a survey of concepts, architectures, and experiences, with a few tools that make distributed systems less obtuse.</p></span>
                <a href="#" class="more">More</a>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

        <div id="michel" class="speaker michel right last">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-push-6">
              <div class="bkg col-xs-12 col-sm-12 col-md-6">
                <p class="time tba" title="Schedule to be announced">T.B.A.</p>
                <%= image_tag 'conference/speaker-michel.png', class: 'photo' %>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="desc">
                  <h3 class="name">Michel Martens</h3>
                  <small class="title">Co-founder of openredis</small>
                  <div class="further"><a class="bio" href="#"><span class="icon icon-info"></span>Bio</a><a class="twitter" href="http://www.twitter.com/soveran" target="_blank"><span class="icon icon-twitter"></span>Twitter</a><a class="github" href="http://www.github.com/soveran" target="_blank"><span class="icon icon-github"></span>GitHub</a></div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
              <div class="talk">
                <h3>Dropping Rails for Dropwizard?<span class="duration sr-only">30m</span></h3>
                <p>There has always been room in the Ruby community for developers to express themselves through minimalism. They use very simple tools to solve complex problems, and in this presentation I will showcase some of those tools and elaborate on the principles guiding their design.</p>
              </div>
            </div>
          </div>
          <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="workshops" class="workshops">
  <div class="container">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <h2>Workshops</h2>
      <div class="date-venue-tickets">
        <h3 class="date"><span class="icon icon-calendar"></span>04/24 (Thu.)</h3>
        <h3 class="venue"><span class="icon icon-location"></span>Recife</h3>
        <a href="http://www.eventick.com.br/abrilproruby-int" target="_blank"><span class="icon icon-ticket"></span>Buy your ticket</a>
      </div>
    </div>

    <div id="akshay-and-leandro" class="speaker akshay-and-leandro two-men-army first">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="bkg col-xs-12 col-sm-12 col-md-6 col-md-push-6">
            <p class="time">Morning</p>
            <%= image_tag 'conference/speaker-akshay.png', class: 'photo' %>
            <%= image_tag 'conference/speaker-leandro.png', class: 'photo' %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
            <div class="desc">
              <h3 class="name">Akshay Karle</h3>
              <small class="title">Developer at Thoughtworks</small>
              <div class="further"><a class="bio" href="#"><span class="icon icon-info"></span>Bio</a><a class="twitter" href="http://www.twitter.com/akshay_karle"><span class="icon icon-twitter"></span>Twitter</a><a class="github" href="http://www.github.com/akshaykarle"><span class="icon icon-github"></span>GitHub</a></div>
            </div>
            <div class="desc">
              <h3 class="name">Leandro Gualter</h3>
              <small class="title">Developer at Thoughtworks</small>
              <div class="further"><a class="bio" href="#"><span class="icon icon-info"></span>Bio</a><a class="github" href="http://www.github.com/akshaykarle"><span class="icon icon-github"></span>GitHub</a></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="talk">
            <h3>Coding in Production<span class="duration sr-only">30m</span></h3>
            <p>Ever had that bug that happens "only in production"? Ever heard someone say "but it works on my machine"? Ever said it yourself? Wouldn't it be nice if you could write all your code directly in production-so that when it works for you on your machine, it also works for everyone else?</p>
            <p>In this workshop we will build a virtual environment which replicates a production environment from scratch using configuration automation and virtualization through lightweight containers. With our trusty tools-Vagrant, Docker and Chef-we will proceed step by step to build a local development environment. <span class="ellipsis">…</span></p><span class="sr-only">
            <p>With this, we hope to highlight the benefits of being able to see locally how code would actually work in production-helping catch design issues quickly and eliminate entire classes of bugs. Plus, to be honest, it also gives us a chance to play around with some really fun tech.</p></span>
            <a href="#" class="more">More</a>
          </div>
        </div>
      </div>
      <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
    </div>

    <div id="phil" class="speaker phil right">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-push-6">
          <div class="bkg col-xs-12 col-sm-12 col-md-6">
            <p class="time">Afternoon</p>
            <%= image_tag 'conference/speaker-phil.png', class: 'photo' %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="desc">
              <h3 class="name">Phil Cohen</h3>
              <small class="title">Operations Engineer at Shopify</small>
              <div class="further"><a class="bio" href="#"><span class="icon icon-info"></span>Bio</a><a class="twitter" href="http://www.twitter.com/phlipper" target="_blank"><span class="icon icon-twitter"></span>Twitter</a><a class="github" href="http://www.github.com/phlipper" target="_blank"><span class="icon icon-github"></span>GitHub</a></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
          <div class="talk">
            <h3>Cooking at Shopify: Taming a Busy Kitchen with Many Chefs<span class="duration sr-only">30m</span></h3>
            <p>We use Chef to manage a large and rapidly growing infrastructure at Shopify. Our cookbooks are open to development not only by our Operations Team, but by all 200+ developers at the company, and we manage to maintain an environment of continuous delivery and continuous improvement for our infrastructure. <span class="ellipsis">…</span><span class="sr-only">In this workshop, I'll discuss our goals and motivations, some of our workflows, internal tooling, and security considerations when operating at our scale. We'll also spend some time setting up a similar environment and discussing sustainable infrastructure strategies.</p></span>
            <a href="#" class="more">More</a>
          </div>
        </div>
      </div>
      <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
    </div>

    <div id="cloves-and-tim" class="speaker cloves-and-tim two-men-army last">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="bkg col-xs-12 col-sm-12 col-md-6 col-md-push-6">
            <p class="time">Afternoon</p>
            <%= image_tag 'conference/speaker-cloves.png', class: 'photo' %>
            <%= image_tag 'conference/speaker-tim.png', class: 'photo' %>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6">
            <div class="desc">
              <h3 class="name">Cloves Carneiro Jr</h3>
              <small class="title">Software Engineer at LivingSocial</small>
              <div class="further"><a class="bio" href="#"><span class="icon icon-info"></span>Bio</a><a class="twitter" href="http://www.twitter.com/ccjr"><span class="icon icon-twitter"></span>Twitter</a><a class="github" href="http://www.github.com/ccjr"><span class="icon icon-github"></span>GitHub</a></div>
            </div>
            <div class="desc">
              <h3 class="name">Tim Schmelmer</h3>
              <small class="title">Software Engineer at LivingSocial</small>
              <div class="further"><a class="bio" href="#"><span class="icon icon-info"></span>Bio</a><a class="twitter" href="http://www.twitter.com/twitty_tim"><span class="icon icon-twitter"></span>Twitter</a><a class="github" href="http://www.github.com/timbogit"><span class="icon icon-github"></span>GitHub</a></div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="talk">
            <h3>Adopting SOA from Day 1<span class="duration sr-only">30m</span></h3>
            <p>In this workshop, we'll explain what a service-oriented architecture is, its advantages, and the reasons why developers should think about it when starting an application. I'll go into how complex and expensive it is to move to SOA when applications reach a specific code base size, traffic load, and will argue that using a SOA in an early stage of development is a feasible solution. We'll build a set of services and front-end applications to put into practice all the theory discussed in the workshop. We'll give parts of the workshop in Portuguese and English.</p>
          </div>
        </div>
      </div>
      <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
    </div>

  </div>
</section>

<section id="activities" class="activities">
  <div class="container">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <h2>Activities</h2>
    </div>
    <div class="row">
      <div class="friday col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
        <div class="date-venue-tickets">
          <h3 class="date"><span class="icon icon-calendar"></span>04/25 (Fri.)</h3>
          <h3 class="venue"><span class="icon icon-location"></span>Porto</h3>
          <a class="soon" target="_blank"><span class="icon icon-ticket"></span>Buy your ticket</a>
        </div>
        <ul>
          <div class="row">
            <div class="activity">
              <li><span class="icon icon-sailing"></span>Raft Boat Sailing</li>
            </div>
            <div class="activity">
              <li><span class="icon icon-buggy"></span>Buggy Ride</li>
            </div>
          </div>
        </ul>
      </div>
      <div class="sunday col-lg-4 col-md-5 col-sm-6 col-xs-12">
        <div class="date-venue-tickets">
          <h3 class="date"><span class="icon icon-calendar"></span>04/27 (Sun.)</h3>
          <h3 class="venue"><span class="icon icon-location"></span>Porto</h3>
          <a class="soon" target="_blank"><span class="icon icon-ticket"></span>Buy your ticket</a>
        </div>
        <ul>
          <div class="row">
            <div class="activity">
              <li><span class="icon icon-snorkeling"></span>Scuba Diving</li>
            </div>
            <div class="activity">
              <li><span class="icon icon-catamaran"></span>Catamaran Ride</li>
            </div>
          </div>
        </ul>
      </div>
      <div class="remarks col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h4 class="sr-only">Remarks</h4>
        <ul>
          <li>Activities are not included in the conference tickets.</li>
          <li>Passes will be sold separately.</li>
          <li>The specific activities are subject to change.</li>
          <li>Limited availability.</li>
          <li>More info will be available in a few days.</li>
        </ul>
        <a data-scroll data-url="true" href="#content" class="hidden-print to-the-top">↑</a>
      </div>
    </div>

    <footer>
      <div class="attribution">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <p>Icons' attribution (in respective order): Conversation, Microphone, Beach Ball, Boat, Sail Boat, Snorkel and Gear by Gregory Radek, Edward Boatman, Celine Labaume, James Keuning, Laurent Patain, Nithin Viswanathan and Reed Enger from <a href="http://www.thenounproject.com" target="_blank">The Noun Project</a>.</p>
        </div>
      </div>
    </footer>
  </div>
</section>
