---
title: Conferência &#9671; Abril Pro Ruby 2014 &#9671; 26 de Abril @ Porto de Galinhas
---

<header id="content" class="of-section">
  <div class="content-background">
    <div class="container">
      <h1>
        <span class="icon"></span>Conferência
      </h1>
      <nav class="secondary">
        <ul>
          <li>
            <a data-scroll data-url="true" href="#talks">
              <span class="icon icon-workshops"></span>
              <span class="day">24<span>/</span>4</span><span class="subtitle">Workshops</span>
            </a>
          </li>
          <li>
            <a data-scroll data-url="true" href="#talks">
              <span class="icon icon-activities"></span>
              <span class="day">25<span>/</span>4</span><span class="subtitle">Atividades</span>
            </a>
          </li>
          <li>
            <a data-scroll data-url="true" href="#talks">
              <span class="icon icon-talks"></span>
              <span class="day">26<span>/</span>4</span><span class="subtitle">Palestras</span>
            </a>
          </li>
          <li>
            <a data-scroll data-url="true" href="#talks">
              <span class="icon icon-activities"></span>
              <span class="day">27<span>/</span>4</span><span class="subtitle">Atividades</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<section id="speakers" class="speakers">
  <div class="container">
    <h2>Palestras</h2>
    <h3 class="date">Sábado (26 de Abril) &mdash; Hotel Armação</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker jim">
          <%= image_tag 'conference/speaker-jim.png', class: 'photo' %>
          <div class="desc">
            <h3>Segregação Incremental em Rails</h3>
            <h4 class="name">Jim Weirich</h4><br/>
            <small class="title">Cientista-Chefe na Neo</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker nell">
          <%= image_tag 'conference/speaker-nell.png', class: 'photo' %>
          <div class="desc">
            <h3>Criando e Otimizando Algoritmos em Ruby</h3>
            <h4 class="name">Nell Shamrell</h4><br/>
            <small class="title">Desenvolvedora Senior na PhishMe</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker rafael">
          <%= image_tag 'conference/speaker-rafael.png', class: 'photo' %>
          <div class="desc">
            <h3>Rails: As Partes Escondidas</span></h3>
            <h4 class="name">Rafael França</h4><br/>
            <small class="title">Desenvolvedor de Software na Plataformatec</small>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker arthur">
          <%= image_tag 'conference/speaker-arthur.png', class: 'photo' %>
          <div class="desc">
            <h3>Fragmentando a Shopify</h3>
            <h4 class="name">Arthur Neves</h4><br/>
            <small class="title">Desenvolvedor de Software na Shopify</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker tj">
          <%= image_tag 'conference/speaker-tj.png', class: 'photo' %>
          <div class="desc">
            <h3>80.000 Senhas em Texto Puro: Uma Estória de Amor ao Código Livre em Três Atos</h3>
            <h4 class="name">T.J. Schuck</h4><br/>
            <small class="title">Desenvolvedor no Harvest</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker guilherme">
          <%= image_tag 'conference/speaker-guilherme.png', class: 'photo' %>
          <div class="desc">
            <h3>Arquitetura Distribuída: Escalando Projetos e Times</h3>
            <h4 class="name">Guilherme Garnier</h4><br/>
            <small class="title">Desenvolvedor de Software na Globo.com</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker scott">
          <%= image_tag 'conference/speaker-scott.png', class: 'photo' %>
          <div class="desc">
            <h3>Aposentando a Senha: Uma Abordagem Alternativa para Autenticação Usando Apenas E-mail</h3>
            <h4 class="name">Scott Motte</h4><br/>
            <small class="title">Desenvolvedor Evangelista at SendGrid</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker joao">
          <%= image_tag 'conference/speaker-joao.png', class: 'photo' %>
          <div class="desc">
            <h3>Desenvolvendo Produtos, não Aplicações</h3>
            <h4 class="name">João M. D. Moura</h4><br/>
            <small class="title">CTO no Palpiteros</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker pablo">
          <%= image_tag 'conference/speaker-pablo.png', class: 'photo' %>
          <div class="desc">
            <h3>O Dilema da Simplicidade</h3>
            <h4 class="name">Pablo Astigarraga</h4><br/>
            <small class="title">Desenvolvedor de Software na tarmac.io</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker lucas">
          <%= image_tag 'conference/speaker-lucas.png', class: 'photo' %>
          <div class="desc">
            <h3>Projeto Orientado a Domínio &amp; NoSQL</h3>
            <h4 class="name">Lucas Dohmen</h4><br/>
            <small class="title">Desenvolvedor na triAGENS GmbH</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker brian">
          <%= image_tag 'conference/speaker-brian.png', class: 'photo' %>
          <div class="desc">
            <h3>Deixando Rails pelo Dropwizard?</h3>
            <h4 class="name">Brian Morton</h4><br/>
            <small class="title">Engenheiro de Software Senior no Yammer/Microsoft</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker bryce">
          <%= image_tag 'conference/speaker-bryce.png', class: 'photo' %>
          <div class="desc">
            <h3>Evoluindo Sistemas Distribuídos</h3>
            <h4 class="name">Bryce Kerley</h4><br/>
            <small class="title">Engenheiro de Software na Basho Technologies</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div class="speaker michel">
          <%= image_tag 'conference/speaker-michel.png', class: 'photo' %>
          <div class="desc">
            <h3>A Contracultura Minimalista de Ruby</h3>
            <h4 class="name">Michel Martens</h4><br/>
            <small class="title">Co-fundador do openredis</small>
          </div>
        </div>
      </div>
    </div>
    <div class="remarks col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <h4 class="sr-only">Observações</h4>
      <ul>
        <li>Haverá, em todas as palestras, tradução simultânea em Inglês e Português.</li>
        <li>Mais informações serão disponibilizadas em alguns dias.</li>
      </ul>
    </div>
  </div>
</section>

<section class="activities-all">
  <div class="container">
    <div id="workshops" class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <h2 class="activities-work">Workshops</h2>
      <h3 class="date">Quinta (24 de Abril) &mdash; Recife</h3>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <div class="speaker leandro-akshay">
          <div class="two-men-army">
            <%= image_tag 'conference/speaker-akshay.png', class: 'photo two-photos' %>
            <%= image_tag 'conference/speaker-leandro.png', class: 'photo two-photos last' %>
          </div>
          <div class="desc">
            <h3>Codificando em Produção</h3>
            <p><span class="tag-period">Manhã</span></p>
            <h4 class="name">Akshay Karle &amp; Leandro Gualter</h4><br/>
            <small class="title">Desenvolvedores na Thoughtworks</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
        <div class="speaker cloves-tim">
          <div class="two-men-army">
            <%= image_tag 'conference/speaker-cloves.png', class: 'photo two-photos' %>
            <%= image_tag 'conference/speaker-tim.png', class: 'photo two-photos last' %>
          </div>
          <div class="desc">
            <h3>Adotando SOA a partir do Dia 1</h3>
            <p><span class="tag-period">Tarde</span></p>
            <h4 class="name">Cloves Carneiro Jr &amp; Tim Schmelmer</h4><br/>
            <small class="title">Engenheiros de Software na LivingSocial</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="speaker phil">
          <%= image_tag 'conference/speaker-phil.png', class: 'photo' %>
          <div class="desc">
            <h3>Cozinhando na Shopify: Domando uma Cozinha Movimentada com Muitos Chefs</h3>
            <p><span class="tag-period">Tarde</span></p>
            <h4 class="name">Phil Cohen</h4><br/>
            <small class="title">Engenheiro de Operações na Shopify</small>
          </div>
        </div>
      </div>
      <div class="remarks col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h4 class="sr-only">Observações</h4>
        <ul>
          <li>Workshops não inclusos no ingresso da conferência.</li>
          <li>Passes estão a venda no <a href="http://www.eventick.com.br/abrilproruby-int" target="_blank">Eventick.</a></li>
          <li>Todos os workshops serão ministrados em inglês.</li>
          <li>Vagas limitadas.</li>
          <li>Mais informações serão disponibilizadas em alguns dias.</li>
        </ul>
        <hr>
      </div>
    </div>

    <div id="activities" class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <h2 class="activities-fun">Atividades</h2>
    </div>
    <div class="row">
      <div class="friday col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
        <h3 class="date">Sexta (25 de Abril) &mdash; Porto</h3>
        <ul>
          <div class="row">
            <div class="activity">
              <li><span class="icon icon-sailing"></span>Passeio de<br />Jangada</li>
            </div>
            <div class="activity">
              <li><span class="icon icon-buggy"></span>Passeio de<br />Buggy</li>
            </div>
          </div>
        </ul>
      </div>
      <div class="sunday col-lg-4 col-md-5 col-sm-6 col-xs-12">
        <h3 class="date">Domingo (26 de Abril) &mdash; Porto</h3>
        <ul>
          <div class="row">
            <div class="activity">
              <li><span class="icon icon-snorkeling"></span>Mergulho com Cilindro</li>
            </div>
            <div class="activity">
              <li><span class="icon icon-catamaran"></span>Passeio de Catamarã</li>
            </div>
          </div>
        </ul>
      </div>
      <div class="remarks col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h4 class="sr-only">Observações</h4>
        <ul>
          <li>Atividades não inclusas no ingresso da conferência.</li>
          <li>Passes serão vendidos separadamente.</li>
          <li>As atividades específicas estão sujeitas a mudanças.</li>
          <li>Vagas limitadas.</li>
          <li>Mais informações serão disponibilizadas em alguns dias.</li>
        </ul>
      </div>
    </div>

    <footer>
      <div class="attribution">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <p>Créditos dos ícones (na respectiva ordem): Conversação, Microfone, Bola de Praia, Barco, Barco a Vela, Máscara de Mergulho e Engrenagem por Gregory Radek, Edward Boatman, Celine Labaume, James Keuning, Laurent Patain, Nithin Viswanathan e Reed Enger do <a href="http://www.thenounproject.com" target="_blank">The Noun Project</a>.</p>
        </div>
      </div>
    </footer>
  </div>
</section>
