---
title: Conferência &#9671; Abril Pro Ruby 2014 &#9671; 26 de Abril @ Porto de Galinhas
---

<header id="content" class="of-section">
  <div class="content-background">
    <div class="container">
      <h1>
        <span class="icon"></span>Conferência
      </h1>
      <nav class="secondary">
        <ul>
          <li>
            <a data-scroll data-url="true" href="#talks">
              <span class="icon icon-workshops"></span>
              <span class="day">24<span>/</span>4</span><span class="subtitle">Workshops</span>
            </a>
          </li>
          <li>
            <a data-scroll data-url="true" href="#talks">
              <span class="icon icon-activities"></span>
              <span class="day">25<span>/</span>4</span><span class="subtitle">Atividades</span>
            </a>
          </li>
          <li>
            <a data-scroll data-url="true" href="#talks">
              <span class="icon icon-talks"></span>
              <span class="day">26<span>/</span>4</span><span class="subtitle">Palestras</span>
            </a>
          </li>
          <li>
            <a data-scroll data-url="true" href="#talks">
              <span class="icon icon-activities"></span>
              <span class="day">27<span>/</span>4</span><span class="subtitle">Atividades</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<section id="talks" class="talks">
  <div class="container">
    <h2>Palestras</h2>
    <div class="date-venue-tickets">
      <h3 class="date"><span class="icon icon-calendar"></span>26/04 (Sáb.)</h3>
      <h3 class="venue"><span class="icon icon-location"></span>Hotel Armação</h3>
      <a href="http://www.eventick.com.br/abrilproruby-int" target="_blank"><span class="icon icon-ticket"></span>Compre seu ingresso</a>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="speaker nell">
          <%= image_tag 'conference/speaker-nell.png', class: 'photo' %>
          <div class="desc">
            <h3>Criando e Otimizando Algoritmos em Ruby</h3>
            <h4 class="name">Nell Shamrell</h4><br/>
            <small class="title">Desenvolvedora Senior na PhishMe</small>
          </div>
        </div>
      </div>

  </div>
</section>

<section class="workshops-and-activities">
  <div class="container">

    <div id="workshops" class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <h2 class="workshops">Workshops</h2>
      <div class="date-venue-tickets">
        <h3 class="date"><span class="icon icon-calendar"></span>24/04 (Qui.)</h3>
        <h3 class="venue"><span class="icon icon-location"></span>Recife</h3>
        <a href="http://www.eventick.com.br/abrilproruby-int" target="_blank"><span class="icon icon-ticket"></span>Compre seu ingresso</a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <div class="speaker leandro-akshay">
          <div class="two-men-army">
            <%= image_tag 'conference/speaker-akshay.png', class: 'photo two-photos' %>
            <%= image_tag 'conference/speaker-leandro.png', class: 'photo two-photos last' %>
          </div>
          <div class="desc">
            <h3>Codificando em Produção</h3>
            <p><span class="tag-period">Manhã</span></p>
            <h4 class="name">Akshay Karle &amp; Leandro Gualter</h4><br/>
            <small class="title">Desenvolvedores na Thoughtworks</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
        <div class="speaker cloves-tim">
          <div class="two-men-army">
            <%= image_tag 'conference/speaker-cloves.png', class: 'photo two-photos' %>
            <%= image_tag 'conference/speaker-tim.png', class: 'photo two-photos last' %>
          </div>
          <div class="desc">
            <h3>Adotando SOA a partir do Dia 1</h3>
            <p><span class="tag-period">Tarde</span></p>
            <h4 class="name">Cloves Carneiro Jr &amp; Tim Schmelmer</h4><br/>
            <small class="title">Engenheiros de Software na LivingSocial</small>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="speaker phil">
          <%= image_tag 'conference/speaker-phil.png', class: 'photo' %>
          <div class="desc">
            <h3>Cozinhando na Shopify: Domando uma Cozinha Movimentada com Muitos Chefs</h3>
            <p><span class="tag-period">Tarde</span></p>
            <h4 class="name">Phil Cohen</h4><br/>
            <small class="title">Engenheiro de Operações na Shopify</small>
          </div>
        </div>
      </div>
      <div class="remarks col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h4 class="sr-only">Observações</h4>
        <ul>
          <li>Workshops não inclusos no ingresso da conferência.</li>
          <li>Passes estão a venda no <a href="http://www.eventick.com.br/abrilproruby-int" target="_blank">Eventick.</a></li>
          <li>Todos os workshops serão ministrados em inglês.</li>
          <li>Vagas limitadas.</li>
          <li>Mais informações serão disponibilizadas em alguns dias.</li>
        </ul>
        <hr>
      </div>
    </div>

    <div id="activities" class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <h2 class="activities">Atividades</h2>
    </div>
    <div class="row">
      <div class="friday col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
        <div class="date-venue-tickets">
          <h3 class="date"><span class="icon icon-calendar"></span>25/04 (Sex.)</h3>
          <h3 class="venue"><span class="icon icon-location"></span>Porto</h3>
          <a href="http://www.eventick.com.br/abrilproruby-int" target="_blank"><span class="icon icon-ticket"></span>Compre seu ingresso</a>
        </div>
        <ul>
          <div class="row">
            <div class="activity">
              <li><span class="icon icon-sailing"></span>Passeio de<br />Jangada</li>
            </div>
            <div class="activity">
              <li><span class="icon icon-buggy"></span>Passeio de<br />Buggy</li>
            </div>
          </div>
        </ul>
      </div>
      <div class="sunday col-lg-4 col-md-5 col-sm-6 col-xs-12">
        <div class="date-venue-tickets">
          <h3 class="date"><span class="icon icon-calendar"></span>27/04 (Dom.)</h3>
          <h3 class="venue"><span class="icon icon-location"></span>Porto</h3>
          <a href="http://www.eventick.com.br/abrilproruby-int" target="_blank"><span class="icon icon-ticket"></span>Compre seu ingresso</a>
        </div>
        <ul>
          <div class="row">
            <div class="activity">
              <li><span class="icon icon-snorkeling"></span>Mergulho com Cilindro</li>
            </div>
            <div class="activity">
              <li><span class="icon icon-catamaran"></span>Passeio de Catamarã</li>
            </div>
          </div>
        </ul>
      </div>
      <div class="remarks col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h4 class="sr-only">Observações</h4>
        <ul>
          <li>Atividades não inclusas no ingresso da conferência.</li>
          <li>Passes serão vendidos separadamente.</li>
          <li>As atividades específicas estão sujeitas a mudanças.</li>
          <li>Vagas limitadas.</li>
          <li>Mais informações serão disponibilizadas em alguns dias.</li>
        </ul>
      </div>
    </div>

    <footer>
      <div class="attribution">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <p>Créditos dos ícones (na respectiva ordem): Conversação, Microfone, Bola de Praia, Barco, Barco a Vela, Máscara de Mergulho e Engrenagem por Gregory Radek, Edward Boatman, Celine Labaume, James Keuning, Laurent Patain, Nithin Viswanathan e Reed Enger do <a href="http://www.thenounproject.com" target="_blank">The Noun Project</a>.</p>
        </div>
      </div>
    </footer>
  </div>
</section>
