---
title: Abril Pro Ruby 2014 &#9671; 24 a 27 de Abril @ Porto de Galinhas
---

<header id="content" class="horizon">
  <div class="container">
    <h1>Abril Pro Ruby 2014</h1>
    <h2 class="pt">26 de Abril</h2>
    <p class="rip-jim">Em memória de <a href="/pt/jim">Jim Weirich</a>.</p>
  </div>
</header>

<section class="ocean">
  <div class="container">

    <div class="row">
      <div class="tickets col-xs-6 col-sm-3 col-md-4">
        <a href="http://www.eventick.com.br/abrilproruby" target="_blank"><span class="icon icon-tickets"></span>Compre seu ingresso</a>
      </div>
      <div class="cfs col-xs-6 col-sm-3 col-sm-offset-6 col-md-4 col-md-offset-4">
        <a href="http://bit.ly/1iat8jL" target="_blank"><span class="icon icon-sponsor"></span>Seja um patrocinador</a>
      </div>
    </div>

    <div class="row">
      <div class="porto col-xs-12 col-sm-12 col-md-4 col-md-push-4">
        <p>Porto de Galinhas, Pernambuco, Brasil — Hotel Armação</p>
      </div>

      <div class="description col-xs-12 col-sm-6 col-md-4 col-md-pull-4">
        <h3>A Conferência Tropical de Ruby</h3>
        <p>Curta ótimas conversas, paisagens deslumbrantes e uma natureza sensacional. Venha conversar com alguns dos melhores Rubistas nesta conferência tropical, na praia paradisíaca de Porto de Galinhas.</p>
        <h4>Edições Anteriores</h4>
        <ul>
          <li>
            <a href="http://abrilproruby.com/2013">2013</a>
          </li>
          <li>
            <a href="http://abrilproruby.com/2012">2012</a>
          </li>
        </ul>
        <h4>Código de Conduta</h4>
        <a href="/pt/code-of-conduct">Conheça nossas normas</a>
      </div>

      <div class="stay-tuned col-xs-12 col-sm-6 col-md-4">
        <h3>Fique Ligado</h3>
        <p>Cadastre-se para receber atualizações por email. Não se preocupe, não enviamos spam.</p>
        <form action="http://abrilproruby.us3.list-manage.com/subscribe/post?u=91f07f556bcf88c39c98457f7&amp;id=8f465a2fc8" method="post" name="mc-embedded-subscribe-form" class="form-inline" role="form" target="_blank" novalidate>
          <div class="input-group">
            <label class="sr-only" for="email-subscription">Endereço de email</label>
            <input class="form-control" type="email" id="email-subscription" name="EMAIL" placeholder="Seu endereço de email">
            <span class="input-group-btn">
              <button type="submit" class="btn">
                <span>Subscrever</span>
              </button>
            </span>
          </div>
        </form>
        <div class="row">
          <ul>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <li>
                <a href="http://twitter.com/abrilproruby" target="_blank"><span class="twitter"></span>@abrilproruby</a>
              </li>
              <li>
                <a href="http://facebook.com/abrilproruby" target="_blank"><span class="facebook"></span>/abrilproruby</a>
              </li>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <li>
                <a href="http://lanyrd.com/2014/abrilproruby/" target="_blank"><span class="lanyrd"></span>/abrilproruby</a>
              </li>
              <li>
                <a href="http://github.com/frevo-on-rails/abrilproruby.com" target="_blank"><span class="github"></span>/abrilproruby.com</a>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="overall">
  <div class="container">
    <div class="row">
      <div class="speakers col-xs-12 col-sm-6 col-md-6">
        <h3>Grandes Rubistas estão a caminho:</h3>
        <ul>
          <!-- <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#bryce" class="bryce photo">
                <%= image_tag 'conference/speaker-bryce.png', class: 'photo' %>
                <p>Bryce Kerley</p>
                <small>Engenheiro de Software na Basho Technologies</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#brian" class="brian photo">
                <%= image_tag 'conference/speaker-brian.png', class: 'photo' %>
                <p>Brian Morton</p>
                <small>Engenheiro de Software Senior no Yammer/Microsoft</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-12 col-md-4">
              <a href="/pt/conference/#michel" class="michel photo">
                <%= image_tag 'conference/speaker-michel.png', class: 'photo' %>
                <p>Michel Martens</p>
                <small>Co-fundador do openredis</small>
              </a>
            </div>
          </li> -->
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#nell" class="nell photo">
                <%= image_tag 'conference/speaker-nell.png', class: 'photo' %>
                <p>Nell Shamrell</p>
                <small>Desenvolvedora Senior na PhishMe</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#rafael" class="rafael photo">
                <%= image_tag 'conference/speaker-rafael.png', class: 'photo' %>
                <p>Rafael França</p>
                <small>Membro do Rails Core Team</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-12 col-md-4">
              <a href="/pt/conference/#arthur" class="arthur photo">
                <%= image_tag 'conference/speaker-arthur.png', class: 'photo' %>
                <p>Arthur Neves</p>
                <small>Desenvolvedor de Software na Shopify</small>
              </a>
            </div>
          </li>
          <!-- <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#tj" class="tj photo">
                <%= image_tag 'conference/speaker-tj.png', class: 'photo' %>
                <p>T.J. Schuck</p>
                <small>Desenvolvedor no Harvest</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#guilherme" class="guilherme photo">
                <%= image_tag 'conference/speaker-guilherme.png', class: 'photo' %>
                <p>Guilherme Garnier</p>
                <small>Desenvolvedor de Software na Globo.com</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-12 col-md-4">
              <a href="/pt/conference/#scott" class="scott photo">
                <%= image_tag 'conference/speaker-scott.png', class: 'photo' %>
                <p>Scott Motte</p>
                <small>Desenvolvedor Evangelista na SendGrid</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#joao" class="joao photo">
                <%= image_tag 'conference/speaker-joao.png', class: 'photo' %>
                <p>João M. D. Moura</p>
                <small>CTO na Palpiteros</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#pablo" class="pablo photo">
                <%= image_tag 'conference/speaker-pablo.png', class: 'photo' %>
                <p>Pablo Astigarraga</p>
                <small>Desenvolvedor de Software na tarmac.io</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-12 col-md-4">
              <a href="/pt/conference/#lucas" class="lucas photo">
                <%= image_tag 'conference/speaker-lucas.png', class: 'photo' %>
                <p>Lucas Dohmen</p>
                <small>Desenvolvedor na triAGENS GmbH</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#akshay" class="akshay photo">
                <%= image_tag 'conference/speaker-akshay.png', class: 'photo' %>
                <p>Akshay Karle</p>
                <small>Desenvolvedor na Thoughtworks</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#leandro" class="leandro photo">
                <%= image_tag 'conference/speaker-leandro.png', class: 'photo' %>
                <p>Leandro Gualter</p>
                <small>Desenvolvedor na Thoughtworks</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-12 col-md-4">
              <a href="/pt/conference/#phil" class="phil photo">
                <%= image_tag 'conference/speaker-phil.png', class: 'photo' %>
                <p>Phil Cohen</p>
                <small>Engenheiro de Operações na Shopify</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#cloves" class="cloves photo">
                <%= image_tag 'conference/speaker-cloves.png', class: 'photo' %>
                <p>Cloves Carneiro Jr</p>
                <small>Engenheiro de Software na LivingSocial</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#tim" class="tim photo">
                <%= image_tag 'conference/speaker-tim.png', class: 'photo' %>
                <p>Tim Schmelmer</p>
                <small>Engenheiro de Software na LivingSocial</small>
              </a>
            </div>
          </li> -->
        </ul>
      </div>
      <div class="features col-xs-12 col-sm-6 col-md-6">
        <h3>O melhor do Ruby na melhor praia do Brasil.</h3>
        <ul>
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#workshops" class="workshops icon"><span>3</span>Workshops</a>
            </div>
          </li>
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#activities" class="activities icon"><span>4</span>Atividades</a>
            </div>
          </li>
          <li>
            <div class="col-sm-12 col-md-4">
              <a href="/pt/conference/#talks" class="talks icon" data-toggle="tooltip" data-placement="bottom" title="Tradução simultânea e transporte grátis estão inclusos."><span>12</span>Palestras</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <footer>
      <div class="row">
        <div class="sponsors-footer col-xs-12 col-md-12">
          <h4>Patrocinador Ouro</h4>
          <ul>
            <li>
              <div class="sponsor tempest col-xs-12 col-md-6">
                <a class="tempest-img" href="http://tempest.com.br" target="_blank">Tempest Security Intelligence</a>
              </div>
            </li>
            <li>
              <div class="sponsor locaweb col-xs-12 col-md-6">
                <a class="locaweb-img" href="http://www.locaweb.com.br" target="_blank">Locaweb</a>
              </div>
            </li>
          </ul>
          <h4>Patrocinadores Prata</h4>
          <ul>
            <li>
              <div class="sponsor la col-xs-12 col-sm-4 col-md-3 col-md-offset-2">
                <a href="http://www.latecnologiaemsaude.com.br" target="_blank">L.A. Health Technology</a>
              </div>
            </li>
            <li>
              <div class="sponsor livingsocial col-xs-12 col-sm-4 col-md-2">
                <a href="http://www.livingsocial.com" target="_blank">LivingSocial</a>
              </div>
            </li>
            <li>
              <div class="sponsor sendgrid col-xs-12 col-sm-4 col-md-3">
                <a href="http://www.sendgrid.com" target="_blank">SendGrid</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="organizers-footer col-xs-12 col-md-12">
          <h4>Organizadores</h4>
          <ul>
            <li>
              <div class="sponsor for col-xs-12 col-sm-4 col-md-3 col-md-offset-2">
                <a class="for-img" href="http://frevoonrails.com.br" target="_blank">Frevo On Rails</a>
              </div>
            </li>
            <li>
              <div class="sponsor guava col-xs-12 col-sm-4 col-md-2">
                <a class="guava-img" href="http://guava.com.br" target="_blank">Guava</a>
              </div>
            </li>
            <li>
              <div class="sponsor eventick col-xs-12 col-sm-4 col-md-3">
                <a class="eventick-img" href="http://eventick.com.br" target="_blank">Eventick</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="attribution">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
          <p>Projetado &amp; codificado pela  <a href="http://guava.com.br" target="_blank">Guava Software</a>.<br />Crédito das cores (na respectiva ordem): <a href="http://colourlovers.com/palette/2721555/Tropical_Beach" target="_blank">Tropical Beach</a> e <a href="http://colourlovers.com/palette/281095/50s_Postcard" target="_blank">50's Postcards</a> por jasurprenant e T-Time do <a href="http://colourslovers.com" target="_blank">Colours Lovers</a>.
          <br />Ícone do Diamante por Darren Barone do <a href="http://www.thenounproject.com" target="_blank">The Noun Project</a>.</p>
        </div>
      </div>
    </footer>
  </div>
</section>
