---
title: Abril Pro Ruby 2014 &#9671; April 24th to 27th @ Porto de Galinhas
---

<header id="content" class="horizon">
  <div class="container">
    <h1>Abril Pro Ruby 2014</h1>
    <h2 class="en">April 26th</h2>
    <p class="rip-jim">In memory of <a href="/en/jim">Jim Weirich</a>.</p>
  </div>
</header>

<section class="ocean">
  <div class="container">

    <div class="row">
      <div class="tickets col-xs-6 col-sm-3 col-md-4">
        <a href="http://www.eventick.com.br/abrilproruby" target="_blank"><span class="icon icon-tickets"></span>Buy your tickets</a>
      </div>
      <div class="cfs col-xs-6 col-sm-3 col-sm-offset-6 col-md-4 col-md-offset-4">
        <a href="http://abrilproruby.com/files/prospectus.pdf" target="_blank"><span class="icon icon-sponsor"></span>Be a sponsor</a>
      </div>
    </div>

    <div class="row">
      <div class="porto col-xs-12 col-sm-12 col-md-4 col-md-push-4">
        <p>Porto de Galinhas, Pernambuco, Brazil — Hotel Armação</p>
      </div>

      <div class="description col-xs-12 col-sm-6 col-md-4 col-md-pull-4">
        <h3>The Tropical Ruby Conference</h3>
        <p>Enjoy amazing conversations, stunning landscapes and a superb nature. Come and talk with some of the best Rubyists in this tropical conference in Porto de Galinhas beach, a paradise in the northeast of Brazil.</p>
        <h4>Previous Editions</h4>
        <ul>
          <li>
            <a href="http://abrilproruby.com/2013">2013</a>
          </li>
          <li>
            <a href="http://abrilproruby.com/2012">2012</a>
          </li>
        </ul>
        <h4>Code of Conduct</h4>
        <a href="/en/code-of-conduct">Know our policies</a>
      </div>

      <div class="stay-tuned col-xs-12 col-sm-6 col-md-4">
        <h3>Stay Tuned</h3>
        <p>Subscribe to receive updates. Don't worry, we won't send you any spam.</p>
        <form action="http://abrilproruby.us3.list-manage.com/subscribe/post?u=91f07f556bcf88c39c98457f7&amp;id=8f465a2fc8" method="post" name="mc-embedded-subscribe-form" class="form-inline" role="form" target="_blank" novalidate>
          <div class="input-group">
            <label class="sr-only" for="email-subscription">Email address</label>
            <input class="form-control" type="email" id="email-subscription" name="EMAIL" placeholder="Your email address">
            <span class="input-group-btn">
              <button type="submit" class="btn">
                <span>Subscribe</span>
              </button>
            </span>
          </div>
        </form>
        <div class="row">
          <ul>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <li>
                <a href="http://twitter.com/abrilproruby" target="_blank"><span class="twitter"></span>@abrilproruby</a>
              </li>
              <li>
                <a href="http://facebook.com/abrilproruby" target="_blank"><span class="facebook"></span>/abrilproruby</a>
              </li>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <li>
                <a href="http://lanyrd.com/2014/abrilproruby/" target="_blank"><span class="lanyrd"></span>/abrilproruby</a>
              </li>
              <li>
                <a href="http://github.com/frevo-on-rails/abrilproruby.com" target="_blank"><span class="github"></span>/abrilproruby.com</a>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="overall">
  <div class="container">
    <div class="row">
      <div class="speakers col-xs-12 col-sm-6 col-md-6">
        <h3>Great Rubyists are coming:</h3>
        <ul>
          <!-- <li>
            <div class="col-sm-6 col-md-4">
              <a href="/en/conference/#bryce" class="bryce photo">
                <%= image_tag 'conference/speaker-bryce.png', class: 'photo' %>
                <p>Bryce Kerley</p>
                <small>Software Engineer at Basho Technologies</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/en/conference/#brian" class="brian photo">
                <%= image_tag 'conference/speaker-brian.png', class: 'photo' %>
                <p>Brian Morton</p>
                <small>Senior Software Engineer at Yammer/Microsoft</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-12 col-md-4">
              <a href="/en/conference/#michel" class="michel photo">
                <%= image_tag 'conference/speaker-michel.png', class: 'photo' %>
                <p>Michel Martens</p>
                <small>Co-founder of openredis</small>
              </a>
            </div>
          </li> -->
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#steve" class="steve photo">
                <%= image_tag 'conference/speaker-steve.png', class: 'photo' %>
                <p>Steve Klabnik</p>
                <small>Rails Committer</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#rafael" class="rafael photo">
                <%= image_tag 'conference/speaker-rafael.png', class: 'photo' %>
                <p>Rafael França</p>
                <small>Rails Core Team</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-12 col-md-4">
              <a href="/pt/conference/#arthur" class="arthur photo">
                <%= image_tag 'conference/speaker-arthur.png', class: 'photo' %>
                <p>Arthur Neves</p>
                <small>Mongoid Maintainer</small>
              </a>
            </div>
          </li>
          <!-- <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#tj" class="tj photo">
                <%= image_tag 'conference/speaker-tj.png', class: 'photo' %>
                <p>T.J. Schuck</p>
                <small>Developer at Harvest</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#guilherme" class="guilherme photo">
                <%= image_tag 'conference/speaker-guilherme.png', class: 'photo' %>
                <p>Guilherme Garnier</p>
                <small>Software Developer at Globo.com</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-12 col-md-4">
              <a href="/pt/conference/#scott" class="scott photo">
                <%= image_tag 'conference/speaker-scott.png', class: 'photo' %>
                <p>Scott Motte</p>
                <small>Developer Evangelist at SendGrid</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#joao" class="joao photo">
                <%= image_tag 'conference/speaker-joao.png', class: 'photo' %>
                <p>João M. D. Moura</p>
                <small>CTO at Palpiteros</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#pablo" class="pablo photo">
                <%= image_tag 'conference/speaker-pablo.png', class: 'photo' %>
                <p>Pablo Astigarraga</p>
                <small>Software Developer at CloudApp</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-12 col-md-4">
              <a href="/pt/conference/#lucas" class="lucas photo">
                <%= image_tag 'conference/speaker-lucas.png', class: 'photo' %>
                <p>Lucas Dohmen</p>
                <small>Developer at triAGENS GmbH</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#akshay" class="akshay photo">
                <%= image_tag 'conference/speaker-akshay.png', class: 'photo' %>
                <p>Akshay Karle</p>
                <small>Developer at Thoughtworks</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#leandro" class="leandro photo">
                <%= image_tag 'conference/speaker-leandro.png', class: 'photo' %>
                <p>Leandro Gualter</p>
                <small>Developer at Thoughtworks</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-12 col-md-4">
              <a href="/pt/conference/#phil" class="phil photo">
                <%= image_tag 'conference/speaker-phil.png', class: 'photo' %>
                <p>Phil Cohen</p>
                <small>Operations Engineer at Shopify</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#cloves" class="cloves photo">
                <%= image_tag 'conference/speaker-cloves.png', class: 'photo' %>
                <p>Cloves Carneiro Jr</p>
                <small>Software Engineer at LivingSocial</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#tim" class="tim photo">
                <%= image_tag 'conference/speaker-tim.png', class: 'photo' %>
                <p>Tim Schmelmer</p>
                <small>Software Engineer at LivingSocial</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#alex-and-kasima" class="alex-and-kasima photo">
                <%= image_tag 'conference/speaker-alex.png', class: 'photo' %>
                <p>Alex Southgate</p>
                <small>Software Engineer at GitHub</small>
              </a>
            </div>
          </li>
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/pt/conference/#alex-and-kasima" class="alex-and-kasima photo">
                <%= image_tag 'conference/speaker-kasima.png', class: 'photo' %>
                <p>Kasima Tharnpipitchai</p>
                <small>Software Engineer at GitHub</small>
              </a>
            </div>
          </li> -->
        </ul>
      </div>
      <div class="features col-xs-12 col-sm-6 col-md-6">
        <h3>The best of Ruby at Brazil's best beach.</h3>
        <ul>
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/en/conference/#workshops" class="workshops icon"><span>4</span>Workshops</a>
            </div>
          </li>
          <li>
            <div class="col-sm-6 col-md-4">
              <a href="/en/conference/#activities" class="activities icon"><span>4</span>Activities</a>
            </div>
          </li>
          <li>
            <div class="col-sm-12 col-md-4">
              <a href="/en/conference/#talks" class="talks icon" data-toggle="tooltip" data-placement="bottom" title="Simultaneous translation and free transportation included."><span>14</span>Talks</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <footer>
      <div class="row">
        <div class="sponsors-footer col-xs-12 col-md-12">
          <h4>Gold Sponsors</h4>
          <ul>
            <li>
              <div class="sponsor tempest col-xs-12 col-md-6">
                <a class="tempest-img" href="http://tempest.com.br" target="_blank">Tempest Security Intelligence</a>
              </div>
            </li>
            <li>
              <div class="sponsor locaweb col-xs-12 col-md-6">
                <a class="locaweb-img" href="http://www.locaweb.com.br" target="_blank">Locaweb</a>
              </div>
            </li>
          </ul>
          <h4>Silver Sponsors</h4>
          <ul>
            <li>
              <div class="sponsor la col-xs-12 col-sm-4 col-md-3 col-md-offset-2">
                <a href="http://www.latecnologiaemsaude.com.br" target="_blank">L.A. Health Technology</a>
              </div>
            </li>
            <li>
              <div class="sponsor livingsocial col-xs-12 col-sm-4 col-md-2">
                <a href="http://www.livingsocial.com" target="_blank">LivingSocial</a>
              </div>
            </li>
            <li>
              <div class="sponsor sendgrid col-xs-12 col-sm-4 col-md-3">
                <a href="http://www.sendgrid.com" target="_blank">SendGrid</a>
              </div>
            </li>
            <li>
              <div class="sponsor shopify col-xs-12 col-sm-4 col-md-3 col-md-offset-2">
                <a href="http://www.shopify.com" target="_blank">Shopify</a>
              </div>
            </li>
            <li>
              <div class="sponsor rackspace col-xs-12 col-sm-4 col-md-2">
                <a href="http://www.rackspace.com" target="_blank">Rackspace</a>
              </div>
            </li>
            <li>
              <div class="sponsor harvest col-xs-12 col-sm-4 col-md-3">
                <a href="http://www.getharvest.com" target="_blank">Harvest</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="organizers-footer col-xs-12 col-md-12">
          <h4>Organizers</h4>
          <ul>
            <li>
              <div class="sponsor for col-xs-12 col-sm-4 col-md-3 col-md-offset-2">
                <a class="for-img" href="http://frevoonrails.com.br" target="_blank">Frevo On Rails</a>
              </div>
            </li>
            <li>
              <div class="sponsor guava col-xs-12 col-sm-4 col-md-2">
                <a class="guava-img" href="http://guava.com.br" target="_blank">Guava</a>
              </div>
            </li>
            <li>
              <div class="sponsor eventick col-xs-12 col-sm-4 col-md-3">
                <a class="eventick-img" href="http://eventick.com.br" target="_blank">Eventick</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="attribution">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
          <p>Designed &amp; handcoded by <a href="http://guava.com.br" target="_blank">Guava Software</a>.
          <br />Color themes (in respective order): <a href="http://colourlovers.com/palette/2721555/Tropical_Beach" target="_blank">Tropical Beach</a> and <a href="http://colourlovers.com/palette/281095/50s_Postcard" target="_blank">50's Postcards</a> by jasurprenant and T-Time from <a href="http://colourslovers.com" target="_blank">Colours Lovers</a>.
          <br />Diamond icon by Darren Barone from <a href="http://www.thenounproject.com" target="_blank">The Noun Project</a>.</p>
        </div>
      </div>
    </footer>
  </div>
</section>
