---
title: Sponsors &#9671; Abril Pro Ruby 2014 &#9671; April 26th @ Porto de Galinhas
---

<header id="content" class="of-section">
  <h1>
    <span class="icon"></span>Sponsors
  </h1>
</header>

<section class="gold">
  <div class="container">
    <div class="row">
      <h4>Gold</h4>
      <ul>
        <li>
          <div class="sr-only"><p>Tempest</p></div>
          <div class="tempest col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <a href="http://www.tempestsi.com" target="_blank"><%= image_tag 'sponsors/tempest.svg' %></a>
            <p>Tempest Security Intelligence is a global cyber security consulting firm that has been delivering exceptional service quality to its clients since 2000. Tempest works to deliver the right combination of 24/7 managed security services, security testing projects, bespoke consulting projects and threat intelligence solutions. Our analysts possess many years of practical experience in penetration testing, incident response, designing defence systems and responding to different types of fraud perpetrated online across different geographies.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="silver">
  <div class="container">
    <div class="row">
      <h4>Silver</h4>
      <ul>
        <li>
          <div class="sr-only"><p>L.A. Health Technology</p></div>
          <div class="la col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="http://www.latecnologiaemsaude.com.br" target="_blank"><%= image_tag 'sponsors/la@2x.png' %></a>
            <p>L.A. Health Technology develops web solutions for e-health. We support the strenghten of the Ruby/Rails ecosystem, which allow us to keep inovating in our sector.<span class="activity-supporter"><span class="icon icon-supporter"></span>Official Activities Sponsor</span></p>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>LivingSocial</p></div>
          <div class="livingsocial col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="http://www.livingsocial.com" target="_blank"><%= image_tag 'sponsors/livingsocial.svg' %></a>
            <p>LivingSocial is the local marketplace to buy and share the best things to do in your city. With unique and diverse offerings each day, we inspire our members to discover everything from weekend breaks and longer trips away to one-of-a kind events and spa experiences to luxury dinners out and more.</p>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>SendGrid</p></div>
          <div class="sendgrid col-lg-6 col-md-6 col-sm-6 col-sm-offset-3 col-xs-12">
            <a href="http://www.sendgrid.com" target="_blank"><%= image_tag 'sponsors/sendgrid.svg' %></a>
            <p>SendGrid helps you focus on your business without the cost and complexity of owning and maintaining an email infrastructure. We manage all of the technical details from scaling the infrastructure, to whitelist services and real-time analytics. We offer world-class deliverability expertise to make sure your emails get delivered.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="bronze">
  <div class="container">
    <div class="row">
      <h4>Bronze</h4>
      <ul>
        <li>
          <div class="sr-only"><p>Ubee</p><br /></div>
          <div class="ubee col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="http://ubee.in" target="_blank"><%= image_tag 'sponsors/ubee.svg' %></a>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>Engine Yard</p><br /></div>
          <div class="engineyard col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="https://www.engineyard.com/" target="_blank"><%= image_tag 'sponsors/engineyard.svg' %></a>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>E-Life</p><br /></div>
          <div class="elife col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="https://www.elife.com.br/" target="_blank"><%= image_tag 'sponsors/elife.svg' %></a>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>NIRD</p><br /></div>
          <div class="nird col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="http://nird.us/" target="_blank"><%= image_tag 'sponsors/nird@2x.png' %></a>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>ThoughtWorks</p><br /></div>
          <div class="thougthworks col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3 col-sm-6 col-xs-12">
            <a href="http://thoughtworks.com/" target="_blank"><%= image_tag 'sponsors/thoughtworks.svg' %></a>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>openredis</p><br /></div>
          <div class="openredis col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a href="https://openredis.com" target="_blank"><%= image_tag 'sponsors/openredis@2x.png' %></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="organizers">
  <div class="container">
    <div class="row">
      <h4>AP.Rb is proudly organized by</h4>
      <ul>
        <li>
          <div class="sr-only"><p>Frevo On Rails</p></div>
          <div class="for col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <a href="http://www.frevoonrails.com.br" target="_blank"><%= image_tag 'sponsors/frevo.svg' %></a>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>Guava</p></div>
          <div class="guava col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a href="http://guava.com.br" target="_blank"><%= image_tag 'sponsors/guava.svg' %></a>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>Eventick</p></div>
          <div class="eventick col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a href="http://eventick.com.br" target="_blank"><%= image_tag 'sponsors/eventick.svg' %></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="supporters">
  <div class="container">

    <div class="row executive-producer">
      <h4>Support</h4>
      <ul>
        <li>
          <div class="rubycentral col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-3 col-xs-6">
            <dl>
              <dt>Advisory Support</dt>
              <dd>
                <div class="sr-only"><p>Engine Yard</p></div>
                <a href="http://www.rubycentral.org" target="_blank"><%= image_tag 'sponsors/rubycentral.svg' %></a>
              </dd>
            </dl>
          </div>
        </li>
        <li>
          <div class="casaeventos col-lg-2 col-md-2 col-sm-3 col-xs-6">
            <dl><dt>Executive Producer</dt>
              <dd>
                <div class="sr-only"><p>Casa Eventos Empresariais</p></div>
                <a href="https://facebook.com/CasaEventosEmpresariais" target="_blank"><%= image_tag 'sponsors/casaeventos.svg' %></a>
              </dd>
            </dl>
          </div>
        </li>
        <li>
          <div class="casablanca col-lg-2 col-md-2 col-sm-3 col-xs-6">
            <dl>
              <dt>Travel Agency</dt>
              <dd>
                <div class="sr-only"><p>Casablanca Turismo</p></div>
                <a href="http://www.casablancaturismo.com.br" target="_blank"><%= image_tag 'sponsors/casablanca.svg' %></a>
              </dd>
            </dl>
          </div>
        </li>
        <li>
          <div class="tagarela col-lg-2 col-md-2 col-sm-3 col-xs-6">
            <dl>
              <dt>Media Relations</dt>
              <dd>
                <div class="sr-only"><p>Tagarela</p></div>
                <a href="http://tagarela.inf.br" target="_blank"><%= image_tag 'sponsors/tagarela.svg' %></a>
              </dd>
            </dl>
          </div>
        </li>
      </ul>
    </div>

    <div class="row institutional-support">
      <ul>
        <li>
          <div class="sr-only"><p>Globo.com</p></div>
          <div class="globo col-lg-2 col-md-3 col-sm-3 col-xs-6">
            <a href="http://globo.com" target="_blank"><%= image_tag 'sponsors/globo.svg' %></a>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>Casa do Código</p></div>
          <div class="casadocodigo col-lg-2 col-md-3 col-sm-3 col-xs-6">
            <a href="http://www.casadocodigo.com.br" target="_blank"><%= image_tag 'sponsors/casadocodigo.svg' %></a>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>Designa</p></div>
          <div class="designa col-lg-2 col-md-3 col-sm-3 col-xs-6">
            <a href="http://designa.com.br" target="_blank"><%= image_tag 'sponsors/designa.svg' %></a>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>Novatec</p></div>
          <div class="novatec col-lg-2 col-md-3 col-sm-3 col-xs-6">
            <a href="http://novatec.com.br" target="_blank"><%= image_tag 'sponsors/novatec.svg' %></a>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>Appies</p><br /></div>
          <div class="appies col-lg-2 col-md-3 col-sm-3 col-xs-6">
            <a href="http://www.appies.co" target="_blank"><%= image_tag 'sponsors/appies.svg' %></a>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>Code Climate</p><br /></div>
          <div class="codeclimate col-lg-2 col-md-3 col-sm-3 col-xs-12">
            <a href="http://www.codeclimate.com" target="_blank"><%= image_tag 'sponsors/codeclimate.svg' %></a>
          </div>
        </li>
      </ul>
    </div>

    <footer>
      <div class="attribution">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <p>Megaphone icon by Natasha Fedorova from <a href="http://www.thenounproject.com" target="_blank">The Noun Project</a>.</p>
        </div>
      </div>
    </footer>
  </div>
</section>
