---
title: Patrocinadores &#9671; Abril Pro Ruby 2014 &#9671; 26 de Abril @ Porto de Galinhas
---

<header id="content" class="of-section">
  <h1>
    <span class="icon"></span>Patrocinadores
  </h1>
</header>

<section class="gold">
  <div class="container">
    <div class="row">
      <h4>Ouro</h4>
      <ul>
        <li>
          <div class="sr-only"><p>Tempest</p><br /></div>
          <div class="tempest col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <a href="http://www.tempestsi.com" target="_blank"><%= image_tag 'sponsors/tempest.svg' %></a>
            <p>A Tempest Security Intelligence é uma empresa global de consultoria em segurança cibernética, que entrega serviços de qualidade excepcional aos seus clientes desde 2000. A Tempest trabalha com a combinação certa de serviços gerenciados de segurança 24/7, projetos de testes de segurança, projetos de consultoria sob medida e soluções de threat intelligence. Nossos analistas possuem muitos anos de experiência prática em testes de penetração, resposta a incidentes, e criação de sistemas de segurança e resposta a diferentes tipos de fraude em vários lugares do mundo.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="silver">
  <div class="container">
    <div class="row">
      <h4>Prata</h4>
      <ul>
        <li>
          <div class="sr-only"><p>L.A. Tecnologia Em Saúde</p></div>
          <div class="la col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="http://www.latecnologiaemsaude.com.br" target="_blank"><%= image_tag 'sponsors/la.svg' %></a>
            <p>A L.A. Tecnologia Em Saúde desenvolve soluções web para e-health. Apoiamos o fortalecimento do ecossistema Ruby/Rails, que nos permite continuar inovando em nosso setor.<span class="activity-supporter"><span class="icon icon-supporter"></span>Patrocinadora Oficial das Atividades</span></p>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>LivingSocial</p></div>
          <div class="livingsocial col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a href="http://www.livingsocial.com" target="_blank"><%= image_tag 'sponsors/livingsocial.svg' %></a>
            <p>A LivingSocial é o mercado local para comprar e compartilhar as melhores coisas para fazer na sua cidade. Com ofertas únicas e diversas a cada dia, inspiramos nossos clientes a descobrir tudo, de descansos de fins de semana até viagens mais longas, passando por eventos únicos, experiências em spas, jantares luxuosos e mais.</p>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>SendGrid</p></div>
          <div class="sendgrid col-lg-6 col-md-6 col-sm-6 col-sm-offset-3 col-xs-12">
            <a href="http://www.sendgrid.com" target="_blank"><%= image_tag 'sponsors/sendgrid.svg' %></a>
            <p>A SendGrid ajuda você a se concentrar na sua empresa, sem o custo e a complexidade de comprar e manter uma infraestrutura de e-mails. Nós gerenciamos todos os detalhes técnicos, de escalar a infraestrutura a serviços de verificação de remetentes e dados analíticos em tempo real. Oferecemos expertise em entregabilidade de alto nível, para garantir que seus e-mails cheguem ao seu destino.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="bronze">
  <div class="container">
    <div class="row">
      <h4>Bronze</h4>
      <ul>
        <li>
          <div class="sr-only"><p>Ubee</p><br /></div>
          <div class="ubee col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-6 col-xs-12">
            <a href="http://ubee.in" target="_blank"><%= image_tag 'sponsors/ubee.svg' %></a>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>Engine Yard</p><br /></div>
          <div class="engineyard col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a href="https://www.engineyard.com/" target="_blank"><%= image_tag 'sponsors/engineyard.svg' %></a>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>E-Life</p><br /></div>
          <div class="elife col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-6 col-xs-12">
            <a href="https://www.elife.com.br/" target="_blank"><%= image_tag 'sponsors/elife.svg' %></a>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>NIRD</p><br /></div>
          <div class="nird col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a href="http://nird.us/" target="_blank"><%= image_tag 'sponsors/nird.png' %></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="organizers">
  <div class="container">
    <div class="row">
      <h4>O AP.Rb é orgulhosamente organizado por</h4>
      <ul>
        <li>
          <div class="sr-only"><p>Frevo On Rails</p><br /></div>
          <div class="for col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <a href="http://www.frevoonrails.com.br" target="_blank"><%= image_tag 'sponsors/frevo.svg' %></a>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>Guava</p><br /></div>
          <div class="guava col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a href="http://guava.com.br" target="_blank"><%= image_tag 'sponsors/guava.svg' %></a>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>Eventick</p><br /></div>
          <div class="eventick col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a href="http://eventick.com.br" target="_blank"><%= image_tag 'sponsors/eventick.svg' %></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="supporters">
  <div class="container">

    <div class="row executive-producer">
      <h4>Apoio</h4>
      <ul>
        <li>
          <div class="rubycentral col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-3 col-xs-6">
            <dl>
              <dt>Assessoria</dt>
              <dd>
                <div class="sr-only"><p>Engine Yard</p><br /></div>
                <a href="http://www.rubycentral.org" target="_blank"><%= image_tag 'sponsors/rubycentral.svg' %></a>
              </dd>
            </dl>
          </div>
        </li>
        <li>
          <div class="casaeventos col-lg-2 col-md-2 col-sm-3 col-xs-6">
            <dl><dt>Produção Executiva</dt>
              <dd>
                <div class="sr-only"><p>Casa Eventos Empresariais</p><br /></div>
                <a href="https://facebook.com/CasaEventosEmpresariais" target="_blank"><%= image_tag 'sponsors/casaeventos.svg' %></a>
              </dd>
            </dl>
          </div>
        </li>
        <li>
          <div class="casablanca col-lg-2 col-md-2 col-sm-3 col-xs-6">
            <dl>
              <dt>Agência Oficial</dt>
              <dd>
                <div class="sr-only"><p>Casablanca Turismo</p><br /></div>
                <a href="http://www.casablancaturismo.com.br" target="_blank"><%= image_tag 'sponsors/casablanca.svg' %></a>
              </dd>
            </dl>
          </div>
        </li>
        <li>
          <div class="tagarela col-lg-2 col-md-2 col-sm-3 col-xs-6">
            <dl>
              <dt>Assessoria de Imprensa</dt>
              <dd>
                <div class="sr-only"><p>Tagarela</p><br /></div>
                <a href="http://tagarela.inf.br" target="_blank"><%= image_tag 'sponsors/tagarela.svg' %></a>
              </dd>
            </dl>
          </div>
        </li>
      </ul>
    </div>

    <div class="row institutional-support">
      <ul>
        <li>
          <div class="sr-only"><p>ThoughtWorks</p><br /></div>
          <div class="thoughtworks col-lg-2 col-md-3 col-sm-3 col-xs-6">
            <a href="http://www.thoughtworks.com" target="_blank"><%= image_tag 'sponsors/thoughtworks.svg' %></a>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>Globo.com</p><br /></div>
          <div class="globo col-lg-2 col-md-3 col-sm-3 col-xs-6">
            <a href="http://globo.com" target="_blank"><%= image_tag 'sponsors/globo.svg' %></a>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>Casa do Código</p><br /></div>
          <div class="casadocodigo col-lg-2 col-md-3 col-sm-3 col-xs-6">
            <a href="http://www.casadocodigo.com.br" target="_blank"><%= image_tag 'sponsors/casadocodigo.svg' %></a>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>Designa</p><br /></div>
          <div class="designa col-lg-2 col-md-3 col-sm-3 col-xs-6">
            <a href="http://designa.com.br" target="_blank"><%= image_tag 'sponsors/designa.svg' %></a>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>Novatec</p><br /></div>
          <div class="novatec col-lg-2 col-md-3 col-sm-3 col-xs-6">
            <a href="http://novatec.com.br" target="_blank"><%= image_tag 'sponsors/novatec.svg' %></a>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>Appies</p><br /></div>
          <div class="appies col-lg-2 col-md-3 col-sm-3 col-xs-6">
            <a href="http://www.appies.co" target="_blank"><%= image_tag 'sponsors/appies.svg' %></a>
          </div>
        </li>
        <li>
          <div class="sr-only"><p>Code Climate</p><br /></div>
          <div class="codeclimate col-lg-2 col-lg-offset-5 col-md-3 col-sm-3 col-xs-12">
            <a href="http://www.codeclimate.com" target="_blank"><%= image_tag 'sponsors/codeclimate.svg' %></a>
          </div>
        </li>
      </ul>
    </div>

    <footer>
      <div class="attribution">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <p>Ícone do Megafone por Natasha Fedorova do <a href="http://www.thenounproject.com" target="_blank">The Noun Project</a>.</p>
        </div>
      </div>
    </footer>
  </div>
</section>
