---
title: Sponsors &middot; Abril Pro Ruby 2014 &middot; April 26th @ Porto de Galinhas
---

<header id="content" class="of-section">
  <h1>
    <span class="icon"></span>Sponsors
  </h1>
</header>

<section class="gold">
  <div class="container">
    <div class="row">
      <h4>Gold</h4>
      <div class="tempest col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
        <a href="http://www.tempestsi.com" target="_blank"><%= image_tag 'sponsors/tempest.svg', width: '400px', height: '200px' %></a>
        <p>Tempest Security Intelligence is a global cyber security consulting firm that has been delivering exceptional service quality to its clients since 2000. Tempest works to deliver the right combination of 24/7 managed security services, security testing projects, bespoke consulting projects and threat intelligence solutions. Our analysts possess many years of practical experience in penetration testing, incident response, designing defence systems and responding to different types of fraud perpetrated online across different geographies.</p>
      </div>
    </div>
  </div>
</section>

<section class="organizers">
  <div class="container">
    <div class="row">
      <h4>The AP.Rb is proudly organized by:</h4>
      <div class="for col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <a href="http://www.frevoonrails.com.br" target="_blank"><%= image_tag 'sponsors/frevo.svg', width: '200px', height: '200px' %></a>
      </div>
      <div class="guava col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <a href="http://guava.com.br" target="_blank"><%= image_tag 'sponsors/guava.svg', width: '200px', height: '200px' %></a>
      </div>
      <div class="eventick col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <a href="http://eventick.com.br" target="_blank"><%= image_tag 'sponsors/eventick.svg', width: '200px', height: '200px' %></a>
      </div>
    </div>
  </div>
</section>

<section class="supporters">
  <div class="container">
    <div class="row">
      <h4>Support</h4>
      <div class="casaeventos col-lg-3 col-md-4 col-sm-4 col-xs-6">
        <a href="https://facebook.com/CasaEventosEmpresariais" target="_blank"><%= image_tag 'sponsors/casaeventos.svg', width: '200px', height: '200px' %></a>
      </div>
      <div class="rubycentral col-lg-3 col-md-4 col-sm-4 col-xs-6">
        <a href="http://www.rubycentral.org" target="_blank"><%= image_tag 'sponsors/rubycentral.svg', width: '200px', height: '200px' %></a>
      </div>
      <div class="thoughtworks col-lg-3 col-md-4 col-sm-4 col-xs-6">
        <a href="http://www.thoughtworks.com" target="_blank"><%= image_tag 'sponsors/thoughtworks.svg', width: '200px', height: '200px' %></a>
      </div>
      <div class="globo col-lg-3 col-md-4 col-sm-4 col-xs-6">
        <a href="http://glogo.com" target="_blank"><%= image_tag 'sponsors/globo.svg', width: '200px', height: '200px' %></a>
      </div>
      <div class="casadocodigo col-lg-3 col-md-4 col-sm-4 col-xs-6">
        <a href="http://www.casadocodigo.com.br" target="_blank"><%= image_tag 'sponsors/casadocodigo.svg', width: '200px', height: '200px' %></a>
      </div>
      <div class="designa col-lg-3 col-md-4 col-sm-4 col-xs-6">
        <a href="http://designa.com.br" target="_blank"><%= image_tag 'sponsors/designa.svg', width: '200px', height: '200px' %></a>
      </div>
      <div class="tagarela col-lg-3 col-md-4 col-sm-4 col-xs-6">
        <a href="http://tagarela.inf.br" target="_blank"><%= image_tag 'sponsors/tagarela.svg', width: '200px', height: '200px' %></a>
      </div>
      <div class="ubee col-lg-3 col-md-4 col-sm-4 col-xs-6">
        <a href="http://ubee.in" target="_blank"><%= image_tag 'sponsors/ubee.svg', width: '200px', height: '200px' %></a>
      </div>
      <div class="novatec col-lg-3 col-md-4 col-sm-4 col-xs-6">
        <a href="http://novatec.com.br" target="_blank"><%= image_tag 'sponsors/novatec.svg', width: '200px', height: '200px' %></a>
      </div>
    </div>
  </div>
</section>
