---
title: Sponsors &middot; Abril Pro Ruby 2014 &middot; April 26th @ Porto de Galinhas
---

<header id="content" class="of-section">
  <h1>
    <span class="icon"></span>Sponsors
  </h1>
</header>

<section class="gold-sponsors">
  <div class="container">
    <div class="tempest">
      <a href="http://www.tempestsi.com" target="_blank"><%= image_tag 'sponsors/tempest.svg', width: '400px', height: '200px' %></a>
      <p>Tempest Security Intelligence is a global cyber security consulting firm that has been delivering exceptional service quality to its clients since 2000. Tempest works to deliver the right combination of 24/7 managed security services, security testing projects, bespoke consulting projects and threat intelligence solutions. Our analysts possess many years of practical experience in penetration testing, incident response, designing defence systems and responding to different types of fraud perpetrated online across different geographies.</p>
  </div>
</section>

<section class="organizers">
  <div class="container">
    <div class="for">
      <a href="http://www.frevoonrails.com.br" target="_blank"><%= image_tag 'sponsors/frevo.svg', width: '200px', height: '200px' %></a>
    </div>
    <div class="guava">
      <a href="http://guava.com.br" target="_blank"><%= image_tag 'sponsors/guava.svg', width: '200px', height: '200px' %></a>
    </div>
    <div class="eventick">
      <a href="http://eventick.com.br" target="_blank"><%= image_tag 'sponsors/eventick.svg', width: '200px', height: '200px' %></a>
    </div>
  </div>
</section>

<section class="supporters">
  <div class="container">
    <div class="casaeventos">
      <a href="https://facebook.com/CasaEventosEmpresariais" target="_blank"><%= image_tag 'sponsors/casaeventos.svg', width: '200px', height: '200px' %></a>
    </div>
    <div class="rubycentral">
      <a href="http://www.rubycentral.org" target="_blank"><%= image_tag 'sponsors/rubycentral.svg', width: '200px', height: '200px' %></a>
    </div>
    <div class="thoughtworks">
      <a href="http://www.thoughtworks.com" target="_blank"><%= image_tag 'sponsors/thoughtworks.svg', width: '200px', height: '200px' %></a>
    </div>
    <div class="globo">
      <a href="http://glogo.com" target="_blank"><%= image_tag 'sponsors/globo.svg', width: '200px', height: '200px' %></a>
    </div>
    <div class="casadocodigo">
      <a href="http://www.casadocodigo.com.br" target="_blank"><%= image_tag 'sponsors/casadocodigo.svg', width: '200px', height: '200px' %></a>
    </div>
    <div class="designa">
      <a href="http://designa.com.br" target="_blank"><%= image_tag 'sponsors/designa.svg', width: '200px', height: '200px' %></a>
    </div>
    <div class="tagarela">
      <a href="http://tagarela.inf.br" target="_blank"><%= image_tag 'sponsors/tagarela.svg', width: '200px', height: '200px' %></a>
    </div>
    <div class="ubee">
      <a href="http://ubee.in" target="_blank"><%= image_tag 'sponsors/ubee.svg', width: '200px', height: '200px' %></a>
    </div>
    <div class="novatec">
      <a href="http://novatec.com.br" target="_blank"><%= image_tag 'sponsors/novatec.svg', width: '200px', height: '200px' %></a>
    </div>
  </div>
</section>
